In [2]:
# PUNTO II

In [4]:
import os

current_directory = os.getcwd()
print(current_directory)

C:\Users\jose.lopez\OneDrive - Vicente Trapani Sa\Documents\GitHub\-Big-Data-UNT--Grupo-1-\TP03

In [6]:
import pandas as pd

In [8]:
# Carga el archivo Excel
#df = pd.read_excel("C:\Users\jose.lopez\OneDrive - Vicente Trapani Sa\Documents\GitHub\-Big-Data-UNT--Grupo-1-\-Big-Data-UNT--Grupo-1-\TP03\RespondieronJL.xlsx")
df = pd.read_excel(r"C:\Users\jose.lopez\OneDrive - Vicente Trapani Sa\Documents\GitHub\-Big-Data-UNT--Grupo-1-\-Big-Data-UNT--Grupo-1-\TP03\RespondieronJL.xlsx")
#
#C:\\Users\\jose.lopez\O\neDrive - Vicente Trapani Sa\\Documents\\GitHub\\-Big-Data-UNT--Grupo-1-\\TP03\\RespondieronJL.xlsx
# Muestra las primeras 5 filas del DataFrame
print(df.head())

   CODUSU  ANO4  TRIMESTRE  NRO_HOGAR  COMPONENTE  H15  REGION MAS_500  \
0  125463  2004          1          1           1    1      40       S
1  125571  2004          1          1           2    1      40       S
2  125571  2004          1          1           3    1      40       S
3  126052  2004          1          1           1    1      40       S
4  126052  2004          1          1           2    1      40       S

   AGLOMERADO  PONDERA  ...  ADECCFR PONDIH  PJ1_1  PJ2_1  PJ3_1  IDIMPP  \
0          29      259  ...        4    NaN      0      0      0     0.0
1          29      296  ...        1    NaN      0      0      0     0.0
2          29      296  ...        1    NaN      0      0      0     0.0
3          29      231  ...        9    NaN      0      0      0     0.0
4          29      231  ...        9    NaN      0      0      0     0.0

   CH05  DESOCUPADO  PEA  PET
0   NaT           0    1    1
1   NaT           0    1    1
2   NaT           0    1    1
3   NaT           0    1    1
4   NaT           0    1    1

[5 rows x 183 columns]

In [14]:
from sklearn.model_selection import train_test_split

# Filtra los datos por año
df_2004 = df[df['ANO4'] == 2004]
df_2024 = df[df['ANO4'] == 2024]

# Divide los datos en variables dependientes e independientes para cada año
X_2004 = df_2004.drop('DESOCUPADO', axis=1)
y_2004 = df_2004['DESOCUPADO']
X_2024 = df_2024.drop('DESOCUPADO', axis=1)
y_2024 = df_2024['DESOCUPADO']

# Agrega una columna de unos a las variables independientes
X_2004['ones'] = 1
X_2024['ones'] = 1

# Divide los datos en conjuntos de entrenamiento y prueba para cada año
X_train_2004, X_test_2004, y_train_2004, y_test_2004 = train_test_split(X_2004, y_2004, test_size=0.3, random_state=101)
X_train_2024, X_test_2024, y_train_2024, y_test_2024 = train_test_split(X_2024, y_2024, test_size=0.3, random_state=101)

# Verifica los tamaños de los conjuntos
print(f'Tamaño de X_train_2004: {X_train_2004.shape}')
print(f'Tamaño de X_test_2004: {X_test_2004.shape}')
print(f'Tamaño de y_train_2004: {y_train_2004.shape}')
print(f'Tamaño de y_test_2004: {y_test_2004.shape}')
print(f'Tamaño de X_train_2024: {X_train_2024.shape}')
print(f'Tamaño de X_test_2024: {X_test_2024.shape}')
print(f'Tamaño de y_train_2024: {y_train_2024.shape}')
print(f'Tamaño de y_test_2024: {y_test_2024.shape}')

Tamaño de X_train_2004: (1778, 183)
Tamaño de X_test_2004: (763, 183)
Tamaño de y_train_2004: (1778,)
Tamaño de y_test_2004: (763,)
Tamaño de X_train_2024: (1465, 183)
Tamaño de X_test_2024: (629, 183)
Tamaño de y_train_2024: (1465,)
Tamaño de y_test_2024: (629,)