In [ ]:
# PUNTO II

In [7]:
import os

current_directory = os.getcwd()
print(current_directory)

C:\Users\jose.lopez\OneDrive - Vicente Trapani Sa\Documents\GitHub\-Big-Data-UNT--Grupo-1-\TP03

In [51]:
import pandas as pd

In [57]:
# Carga el archivo Excel
#df = pd.read_excel("C:\Users\jose.lopez\OneDrive - Vicente Trapani Sa\Documents\GitHub\-Big-Data-UNT--Grupo-1-\-Big-Data-UNT--Grupo-1-\TP03\RespondieronJL.xlsx")
df = pd.read_excel(r"C:\Users\jose.lopez\OneDrive - Vicente Trapani Sa\Documents\GitHub\-Big-Data-UNT--Grupo-1-\-Big-Data-UNT--Grupo-1-\TP03\RespondieronJL.xlsx")
#
#C:\\Users\\jose.lopez\O\neDrive - Vicente Trapani Sa\\Documents\\GitHub\\-Big-Data-UNT--Grupo-1-\\TP03\\RespondieronJL.xlsx
# Muestra las primeras 5 filas del DataFrame
print(df.head())

   CODUSU  ANO4  TRIMESTRE  NRO_HOGAR  COMPONENTE  H15  REGION MAS_500  \
0  125463  2004          1          1           1    1      40       S
1  125571  2004          1          1           2    1      40       S
2  125571  2004          1          1           3    1      40       S
3  126052  2004          1          1           1    1      40       S
4  126052  2004          1          1           2    1      40       S

   AGLOMERADO  PONDERA  ...  PDECCFR ADECCFR  PONDIH  PJ1_1  PJ2_1  PJ3_1  \
0          29      259  ...                4     NaN      0      0      0
1          29      296  ...                1     NaN      0      0      0
2          29      296  ...                1     NaN      0      0      0
3          29      231  ...                9     NaN      0      0      0
4          29      231  ...                9     NaN      0      0      0

   IDIMPP  CH05  PEA  PET
0     0.0   NaT    1    1
1     0.0   NaT    1    1
2     0.0   NaT    1    1
3     0.0   NaT    1    1
4     0.0   NaT    1    1

[5 rows x 182 columns]