In [2]:
import pandas as pd

In [42]:
df = pd.read_excel("C:/Users/jose.lopez/OneDrive - Vicente Trapani Sa/Documents/GitHub/-Big-Data-UNT--Grupo-1-/TP04/usu_hogar_T124.xlsx")
##C:\Users\jose.lopez\OneDrive - Vicente Trapani Sa\Documents\GitHub\-Big-Data-UNT--Grupo-1-\TP04
##C:/Users/piliv/OneDrive/Documentos/GitHub/-Big-Data-UNT--Grupo-1-/TP04/usu_hogar_T124.xlsx
print(df.head())

                          CODUSU  ANO4  TRIMESTRE  NRO_HOGAR  REALIZADA  \
0  TQRMNORPSHLOLMCDEFNFF00852337  2024          1          1          1
1  TQRMNOPRYHKOKTCDEFNFF00856789  2024          1          1          1
2  TQTMNORRSHKOKTCDEFNFF00856790  2024          1          1          1
3  TQRMNORRSHKOKTCDEFNFF00856791  2024          1          1          1
4  TQRMNOQTVHKLLLCDEFNFF00856792  2024          1          1          1

   REGION MAS_500  AGLOMERADO  PONDERA  IV1  ... GDECCFR  PDECCFR  ADECCFR  \
0      41       N           7      179    1  ...     NaN      5.0        5
1      41       N           7      313    1  ...     NaN     12.0       12
2      41       N           7      286    1  ...     NaN      8.0        9
3      41       N           7      306    1  ...     NaN      5.0        6
4      41       N           7      361    1  ...     NaN      6.0        7

  PONDIH  VII1_1  VII1_2  VII2_1  VII2_2 VII2_3  VII2_4
0    212       1       2      98       0      0       0
1      0       1       0       2       0      0       0
2    401       2       0       1       0      0       0
3    438       2       0       3       0      0       0
4    831       1       0       2       0      0       0

[5 rows x 88 columns]

In [43]:
df24 = df[df['AGLOMERADO'] == 29]
print(df24.head())

                            CODUSU  ANO4  TRIMESTRE  NRO_HOGAR  REALIZADA  \
32   TQRMNOUSQHMOKPCDEHPJB00806507  2024          1          1          1
201  TQRMNOQQSHJOLRCDEHPJB00795112  2024          1          1          1
202  TQRMNOPRSHLOLSCDEHPJB00854552  2024          1          1          1
256  TQRMNOQWSHMKLQCDEHPJB00801259  2024          1          1          1
270  TQRMNOPUSHKOLRCDEHPJB00856819  2024          1          1          1

     REGION MAS_500  AGLOMERADO  PONDERA  IV1  ... GDECCFR  PDECCFR  ADECCFR  \
32       40       S          29      397    1  ...     3.0      NaN        5
201      40       S          29      369    2  ...     1.0      NaN        1
202      40       S          29      359    1  ...     4.0      NaN        6
256      40       S          29      573    2  ...     7.0      NaN        8
270      40       S          29      414    1  ...     2.0      NaN        3

    PONDIH  VII1_1  VII1_2  VII2_1  VII2_2 VII2_3  VII2_4
32     439       1       0       2       3      0       0
201    465       1       0       3       0      0       0
202    437       1       0      98       0      0       0
256    637       2       0       1       0      0       0
270    480       2       0      98       0      0       0

[5 rows x 88 columns]

In [44]:
df1 = pd.read_stata("C:/Users/jose.lopez/OneDrive - Vicente Trapani Sa/Documents/GitHub/-Big-Data-UNT--Grupo-1-/TP04/Hogar_t104.dta")
##C:\Users\jose.lopez\OneDrive - Vicente Trapani Sa\Documents\GitHub\-Big-Data-UNT--Grupo-1-\TP04
##C:/Users/piliv/OneDrive/Documentos/GitHub/-Big-Data-UNT--Grupo-1-/TP04/Hogar_t104.dta
print(df1.head())

     CODUSU  nro_hogar realizada    ano4       trimestre    region mas_500  \
0  125051          1.0        Sí  2004.0  1er. Trimestre  Pampeana       S
1  125082          1.0        Sí  2004.0  1er. Trimestre  Pampeana       S
2  125181          1.0        Sí  2004.0  1er. Trimestre  Pampeana       S
3  125283          1.0        Sí  2004.0  1er. Trimestre  Pampeana       S
4  126192          1.0        Sí  2004.0  1er. Trimestre  Pampeana       S

      aglomerado  pondera   iv1  ... gdeccfr pdeccfr adeccfr vii1_1 vii1_2  \
0  Gran La Plata    355.0  Casa  ...      01              01    1.0    0.0
1  Gran La Plata    306.0  Casa  ...      03              02    2.0    0.0
2  Gran La Plata    541.0  Casa  ...      09              09    2.0    0.0
3  Gran La Plata    255.0  Casa  ...      07              07    1.0    2.0
4  Gran La Plata    218.0  Casa  ...      08              08    2.0    0.0

                                 vii2_1 vii2_2 vii2_3 vii2_4 idimph
0                                   3.0    0.0    0.0    0.0  00000
1                                  98.0    0.0    0.0    0.0  10000
2                                   1.0    3.0    0.0    0.0  00000
3                                   3.0    4.0    0.0    0.0  10000
4  Otra persona que no vive en el hogar    0.0    0.0    0.0  10000

[5 rows x 88 columns]

In [45]:
frecuencia = df1['aglomerado'].value_counts()
print(frecuencia)

aglomerado
Partidos del GBA                   1663
Gran Córdoba                        782
Gran Rosario                        746
Ciudad de Buenos Aires              688
Gran Mendoza                        670
Gran Tucumán - Tafí Viejo           661
Mar del Plata - Batán               576
Gran La Plata                       559
Salta                               456
Gran Santa Fe                       430
Gran Resistencia                    407
Bahía Blanca - Cerri                402
Gran San Juan                       385
Posadas                             372
Santiago del Estero - La Banda      365
Gran Paraná                         350
Corrientes                          342
Jujuy - Palpalá                     334
Concordia                           266
La Rioja                            251
Río Gallegos                        249
San Luis - El Chorrillo             248
Gran Catamarca                      243
Formosa                             243
Comodoro Rivadavia - Rada Tilly     231
Santa Rosa - Toay                   230
Neuquén - Plottier                  226
Río Cuarto                          223
Ushuaia - Río Grande                218
Name: count, dtype: int64

In [46]:
df04 = df1[df1['aglomerado'] == 'Gran Tucumán - Tafí Viejo']

In [47]:
import pandas as pd
pd.set_option('future.no_silent_downcasting', True)

In [48]:
df04.loc[:, 'aglomerado'] = df04['aglomerado'].cat.rename_categories({    "Gran Tucumán - Tafí Viejo": 29})
##df04['aglomerado'] = df04['aglomerado'].replace("Gran Tucumán - Tafí Viejo", 29)
print(df04.head())

        CODUSU  nro_hogar realizada    ano4       trimestre region mas_500  \
8557  125463          1.0        Sí  2004.0  1er. Trimestre    NOA       S
8558  125571          1.0        Sí  2004.0  1er. Trimestre    NOA       S
8559  125591          1.0        Sí  2004.0  1er. Trimestre    NOA       S
8560  126052          1.0        Sí  2004.0  1er. Trimestre    NOA       S
8561  126339          1.0        Sí  2004.0  1er. Trimestre    NOA       S

     aglomerado  pondera   iv1  ... gdeccfr pdeccfr adeccfr vii1_1 vii1_2  \
8557         29    259.0  Casa  ...      02              04    2.0    0.0
8558         29    296.0  Casa  ...      01              01    4.0    0.0
8559         29    249.0  Casa  ...      03              05    2.0    0.0
8560         29    231.0  Casa  ...      07              09    2.0    0.0
8561         29    235.0  Casa  ...      08              09    1.0    0.0

     vii2_1 vii2_2 vii2_3 vii2_4 idimph
8557    5.0    0.0    0.0    0.0  00000
8558    2.0    0.0    0.0    0.0  00000
8559   98.0    0.0    0.0    0.0  00000
8560   98.0    0.0    0.0    0.0  00000
8561   98.0    0.0    0.0    0.0  00000

[5 rows x 88 columns]

C:\Users\jose.lopez\AppData\Local\Temp\ipykernel_13556\3943278331.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[29, 29, 29, 29, 29, ..., 29, 29, 29, 29, 29]
Length: 661
Categories (29, object): ['Gran La Plata' < 'Bahía Blanca - Cerri' < 'Gran Rosario' < 'Gran Santa Fe' ... 'Ciudad de Buenos Aires' < 'Partidos del GBA' < 'Mar del Plata - Batán' < 'Río Cuarto']' has dtype incompatible with category, please explicitly cast to a compatible dtype first.
  df04.loc[:, 'aglomerado'] = df04['aglomerado'].cat.rename_categories({    "Gran Tucumán - Tafí Viejo": 29})

In [49]:
df04.loc[:, 'region'] = df04['region'].replace("NOA", 40)

#df04['region'] = df04['region'].replace("NOA", 40)
df04.replace({"Sí": 1, "No": 2}, inplace=True)
#df04.replace({"Sí": 1, "No": 2}, inplace=True)
print(df04.head())

        CODUSU  nro_hogar realizada    ano4       trimestre region mas_500  \
8557  125463          1.0         1  2004.0  1er. Trimestre     40       S
8558  125571          1.0         1  2004.0  1er. Trimestre     40       S
8559  125591          1.0         1  2004.0  1er. Trimestre     40       S
8560  126052          1.0         1  2004.0  1er. Trimestre     40       S
8561  126339          1.0         1  2004.0  1er. Trimestre     40       S

     aglomerado  pondera   iv1  ... gdeccfr pdeccfr adeccfr vii1_1 vii1_2  \
8557         29    259.0  Casa  ...      02              04    2.0    0.0
8558         29    296.0  Casa  ...      01              01    4.0    0.0
8559         29    249.0  Casa  ...      03              05    2.0    0.0
8560         29    231.0  Casa  ...      07              09    2.0    0.0
8561         29    235.0  Casa  ...      08              09    1.0    0.0

     vii2_1 vii2_2 vii2_3 vii2_4 idimph
8557    5.0    0.0    0.0    0.0  00000
8558    2.0    0.0    0.0    0.0  00000
8559   98.0    0.0    0.0    0.0  00000
8560   98.0    0.0    0.0    0.0  00000
8561   98.0    0.0    0.0    0.0  00000

[5 rows x 88 columns]

C:\Users\jose.lopez\AppData\Local\Temp\ipykernel_13556\316884247.py:1: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df04.loc[:, 'region'] = df04['region'].replace("NOA", 40)
C:\Users\jose.lopez\AppData\Local\Temp\ipykernel_13556\316884247.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[40, 40, 40, 40, 40, ..., 40, 40, 40, 40, 40]
Length: 661
Categories (6, object): ['Gran Buenos Aires' < 40 < 'NEA' < 'Cuyo' < 'Pampeana' < 'Patagónica']' has dtype incompatible with category, please explicitly cast to a compatible dtype first.
  df04.loc[:, 'region'] = df04['region'].replace("NOA", 40)
C:\Users\jose.lopez\AppData\Local\Temp\ipykernel_13556\316884247.py:4: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df04.replace({"Sí": 1, "No": 2}, inplace=True)
C:\Users\jose.lopez\AppData\Local\Temp\ipykernel_13556\316884247.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df04.replace({"Sí": 1, "No": 2}, inplace=True)

In [50]:
reemplazos1 = {
    "Casa": 1,
    "Departamento": 2,
    "Pieza de inquilinato": 3,
    "Pieza en hotel / pensión": 4,
    "Local no construido para habitación": 5,
    "Otros": 6
}

df04['iv1'] = df04['iv1'].cat.rename_categories(reemplazos1)
print(df04.head())

        CODUSU  nro_hogar realizada    ano4       trimestre region mas_500  \
8557  125463          1.0         1  2004.0  1er. Trimestre     40       S
8558  125571          1.0         1  2004.0  1er. Trimestre     40       S
8559  125591          1.0         1  2004.0  1er. Trimestre     40       S
8560  126052          1.0         1  2004.0  1er. Trimestre     40       S
8561  126339          1.0         1  2004.0  1er. Trimestre     40       S

     aglomerado  pondera iv1  ... gdeccfr pdeccfr adeccfr vii1_1 vii1_2  \
8557         29    259.0   1  ...      02              04    2.0    0.0
8558         29    296.0   1  ...      01              01    4.0    0.0
8559         29    249.0   1  ...      03              05    2.0    0.0
8560         29    231.0   1  ...      07              09    2.0    0.0
8561         29    235.0   1  ...      08              09    1.0    0.0

     vii2_1 vii2_2 vii2_3 vii2_4 idimph
8557    5.0    0.0    0.0    0.0  00000
8558    2.0    0.0    0.0    0.0  00000
8559   98.0    0.0    0.0    0.0  00000
8560   98.0    0.0    0.0    0.0  00000
8561   98.0    0.0    0.0    0.0  00000

[5 rows x 88 columns]

C:\Users\jose.lopez\AppData\Local\Temp\ipykernel_13556\3455325661.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df04['iv1'] = df04['iv1'].cat.rename_categories(reemplazos1)

In [51]:
# Convirtiendo los nombres de las columnas a mayúsculas
df04.columns = df04.columns.str.upper()


df04.to_excel("C:/Users/jose.lopez/OneDrive - Vicente Trapani Sa/Documents/GitHub/-Big-Data-UNT--Grupo-1-/TP04/usu_hogar_T104.xlsx", index=False)
##C:/Users/jose.lopez/OneDrive - Vicente Trapani Sa/Documents/GitHub/-Big-Data-UNT--Grupo-1-/TP04/usu_hogar_T104.xlsx
##"C:/Users/piliv/OneDrive/Documentos/GitHub/-Big-Data-UNT--Grupo-1-/TP04/usu_hogar_T104.xlsx

In [52]:
df2004 = pd.read_excel("C:/Users/jose.lopez/OneDrive - Vicente Trapani Sa/Documents/GitHub/-Big-Data-UNT--Grupo-1-/TP04/usu_hogar_T104.xlsx")
#("C:/Users/piliv/OneDrive/Documentos/GitHub/-Big-Data-UNT--Grupo-1-/TP04/usu_hogar_T104.xlsx")

In [53]:
# Reemplazos para la variable IV3
reemplazos_IV3 = {
    "Mosaico / baldosa / madera / cerámica / alfombra": 1,
    "Cemento / ladrillo fijo": 2,
    "Ladrillo suelto / tierra": 3,
    "Otro": 4
}

# Reemplazos para la variable IV4
reemplazos_IV4 = {
    "Membrana / cubierta asfáltica": 1,
    "Baldosa / losa sin cubierta": 2,
    "Pizarra / teja": 3,
    "Chapa de metal sin cubierta": 4,
    "Chapa de fibrocemento / plástico": 5,
    "Chapa de cartón": 6,
    "Caña / tabla / paja con barro / paja sola": 7,
    "N/S. Depto en propiedad horizontal": 9
}

# Reemplazos para la variable IV6
reemplazos_IV6 = {
    "Por cañería dentro de la vivienda": 1,
    "Fuera de la vivienda pero dentro del terreno": 2,
    "Fuera del terreno": 3
}

# Reemplazos para la variable IV7
reemplazos_IV7 = {
    "Red pública (agua corriente)": 1,
    "Perforación con bomba a motor": 2,
    "Perforación con bomba manual": 3,
    "Otra fuente": 4
}

# Reemplazos para la variable IV9
reemplazos_IV9 = {
    "Dentro de la vivienda": 1,
    "Fuera de la vivienda pero dentro del terreno": 2,
    "Fuera del terreno": 3
}

# Reemplazos para la variable IV10
reemplazos_IV10 = {
    "Inodoro con botón / mochila / cadena y arrastre de agua": 1,
    "Inodoro sin botón / cadena y con arrastre de agua (a balde)": 2,
    "Letrina (sin arrastre de agua)": 3
}

reemplazos_IV11 = {
    "A red pública (cloaca)": 1,
    "A cámara séptica y pozo ciego": 2,
    "Sólo a pozo ciego": 3,
    "A hoyo / excavación en la tierra": 4
}

# Realizando los reemplazos
df2004['IV3'] = df2004['IV3'].replace(reemplazos_IV3)
df2004['IV4'] = df2004['IV4'].replace(reemplazos_IV4)
df2004['IV6'] = df2004['IV6'].replace(reemplazos_IV6)
df2004['IV7'] = df2004['IV7'].replace(reemplazos_IV7)
df2004['IV9'] = df2004['IV9'].replace(reemplazos_IV9)
df2004['IV10'] = df2004['IV10'].replace(reemplazos_IV10)
df2004['IV11'] = df2004['IV11'].replace(reemplazos_IV11)

In [54]:
# Reemplazos para la variable II8
reemplazos_II8 = {
    "Gas de red": 1,
    "Gas de tubo / garrafa": 2,
    "Kerosene / leña/ carbón": 3,
    "Otro": 4
}

# Reemplazos para la variable II9
reemplazos_II9 = {
    "Uso exclusivo del hogar": 1,
    "Compartido con otro/s hogar/es de la misma vivienda": 2,
    "Compartido con otra/s vivienda/s": 3,
    "No tiene baño": 4
}

# Reemplazos para la variable VII1_1
reemplazos_VII1_1 = {
    "Servicio doméstico": 96,
    "Otra persona que no vive en el hogar": 97
}

# Reemplazos para la variable VII2_1
reemplazos_VII2_1 = {
    "Servicio doméstico": 96,
    "Otra persona que no vive en el hogar": 97,
    "Ninguna": 98
}

# Realizando los reemplazos
df2004['II8'] = df2004['II8'].replace(reemplazos_II8)
df2004['II9'] = df2004['II9'].replace(reemplazos_II9)
df2004['VII1_1'] = df2004['VII1_1'].replace(reemplazos_VII1_1)
df2004['VII2_1'] = df2004['VII2_1'].replace(reemplazos_VII2_1)

In [68]:
df2004.to_excel("C:/Users/jose.lopez/OneDrive - Vicente Trapani Sa/Documents/GitHub/-Big-Data-UNT--Grupo-1-/TP04/usu_hogar_T104.xlsx", index=False)
#"C:/Users/piliv/OneDrive/Documentos/GitHub/-Big-Data-UNT--Grupo-1-/TP04/usu_hogar_T104.xlsx"

In [70]:
df11 = pd.read_stata("C:/Users/jose.lopez/OneDrive - Vicente Trapani Sa/Documents/GitHub/-Big-Data-UNT--Grupo-1-/TP04/iNDIVIDUAL_t104.dta")
##C:\Users\jose.lopez\OneDrive - Vicente Trapani Sa\Documents\GitHub\-Big-Data-UNT--Grupo-1-\TP04
##C:/Users/piliv/OneDrive/Documentos/GitHub/-Big-Data-UNT--Grupo-1-/TP04/Hogar_t104.dta
print(df11.head())

     CODUSU  nro_hogar componente h15    ano4       trimestre  \
0  125098          1.0        1.0  Sí  2004.0  1er. Trimestre
1  125397          1.0        1.0  Sí  2004.0  1er. Trimestre
2  125515          1.0        1.0  Sí  2004.0  1er. Trimestre
3  125558          1.0        1.0  Sí  2004.0  1er. Trimestre
4  125558          1.0        2.0  Sí  2004.0  1er. Trimestre

              region mas_500              aglomerado  pondera  ... deccfr  \
0  Gran Buenos Aires       S  Ciudad de Buenos Aires   1299.0  ...     07
1  Gran Buenos Aires       S  Ciudad de Buenos Aires   2018.0  ...     00
2  Gran Buenos Aires       S  Ciudad de Buenos Aires   1486.0  ...     07
3  Gran Buenos Aires       S  Ciudad de Buenos Aires   1674.0  ...     08
4  Gran Buenos Aires       S  Ciudad de Buenos Aires   1674.0  ...     08

  ideccfr rdeccfr gdeccfr pdeccfr adeccfr pj1_1 pj2_1 pj3_1 idimpp
0              06      06              04   0.0   0.0   0.0  00000
1              00      00              00   0.0   0.0   0.0  00000
2              07      07              05   0.0   0.0   0.0  00020
3              08      08              06   0.0   0.0   0.0  00000
4              08      08              06   0.0   0.0   0.0  00000

[5 rows x 176 columns]

In [72]:
frecuencia = df11['aglomerado'].value_counts()
print(frecuencia)

aglomerado
Partidos del GBA                   5811
Gran Córdoba                       2792
Gran Tucumán - Tafí Viejo          2547
Gran Rosario                       2465
Gran Mendoza                       2357
Salta                              1870
Ciudad de Buenos Aires             1836
Gran La Plata                      1730
Mar del Plata - Batán              1679
Santiago del Estero - La Banda     1616
Gran Resistencia                   1575
Gran San Juan                      1507
Posadas                            1453
Gran Santa Fe                      1421
Corrientes                         1337
Jujuy - Palpalá                    1315
Gran Paraná                        1166
Bahía Blanca - Cerri               1156
La Rioja                           1040
Gran Catamarca                     1005
Formosa                             978
Concordia                           966
San Luis - El Chorrillo             957
Comodoro Rivadavia - Rada Tilly     862
Río Gallegos                        844
Ushuaia - Río Grande                779
Neuquén - Plottier                  779
Río Cuarto                          747
Santa Rosa - Toay                   699
Name: count, dtype: int64

In [74]:
df2004 = df11[df11['aglomerado'] == 'Gran Tucumán - Tafí Viejo']

In [76]:
import pandas as pd
pd.set_option('future.no_silent_downcasting', True)

In [78]:
df2004.loc[:, 'aglomerado'] = df2004['aglomerado'].cat.rename_categories({    "Gran Tucumán - Tafí Viejo": 29})
##df04['aglomerado'] = df04['aglomerado'].replace("Gran Tucumán - Tafí Viejo", 29)
print(df2004.head())

         CODUSU  nro_hogar componente  h15    ano4       trimestre region  \
14493  125463          1.0        1.0   Sí  2004.0  1er. Trimestre    NOA
14494  125463          1.0        2.0   Sí  2004.0  1er. Trimestre    NOA
14495  125463          1.0        3.0  0.0  2004.0  1er. Trimestre    NOA
14496  125463          1.0        4.0  0.0  2004.0  1er. Trimestre    NOA
14497  125463          1.0        5.0   Sí  2004.0  1er. Trimestre    NOA

      mas_500 aglomerado  pondera  ... deccfr ideccfr rdeccfr gdeccfr pdeccfr  \
14493       S         29    259.0  ...     02      03      04      02
14494       S         29    259.0  ...     02      03      04      02
14495       S         29    259.0  ...     02      03      04      02
14496       S         29    259.0  ...     02      03      04      02
14497       S         29    259.0  ...     02      03      04      02

      adeccfr pj1_1 pj2_1 pj3_1 idimpp
14493      04   0.0   0.0   0.0  00000
14494      04   0.0   0.0   0.0  00000
14495      04   0.0   0.0   0.0  00000
14496      04   0.0   0.0   0.0  00000
14497      04   0.0   0.0   0.0  00000

[5 rows x 176 columns]

C:\Users\jose.lopez\AppData\Local\Temp\ipykernel_13556\2290186042.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[29, 29, 29, 29, 29, ..., 29, 29, 29, 29, 29]
Length: 2547
Categories (29, object): ['Gran La Plata' < 'Bahía Blanca - Cerri' < 'Gran Rosario' < 'Gran Santa Fe' ... 'Ciudad de Buenos Aires' < 'Partidos del GBA' < 'Mar del Plata - Batán' < 'Río Cuarto']' has dtype incompatible with category, please explicitly cast to a compatible dtype first.
  df2004.loc[:, 'aglomerado'] = df2004['aglomerado'].cat.rename_categories({    "Gran Tucumán - Tafí Viejo": 29})

In [84]:
df2004.loc[:, 'region'] = df2004['region'].replace("NOA", 40)

#df04['region'] = df04['region'].replace("NOA", 40)
df2004.replace({"Sí": 1, "No": 2}, inplace=True)
#df04.replace({"Sí": 1, "No": 2}, inplace=True)
pd.set_option('display.max_columns', None)
print(df2004.head())

         CODUSU  nro_hogar componente  h15    ano4       trimestre region  \
14493  125463          1.0        1.0    1  2004.0  1er. Trimestre     40
14494  125463          1.0        2.0    1  2004.0  1er. Trimestre     40
14495  125463          1.0        3.0  0.0  2004.0  1er. Trimestre     40
14496  125463          1.0        4.0  0.0  2004.0  1er. Trimestre     40
14497  125463          1.0        5.0    1  2004.0  1er. Trimestre     40

      mas_500 aglomerado  pondera            ch03   ch04            ch06  \
14493       S         29    259.0            Jefe  Varón            30.0
14494       S         29    259.0  Cónyuge/Pareja  Mujer            25.0
14495       S         29    259.0   Hijo/Hijastro  Mujer             5.0
14496       S         29    259.0   Hijo/Hijastro  Varón  Menos de 1 año
14497       S         29    259.0          Suegro  Mujer            64.0

          ch07                        ch08             ch09  \
14493   Casado  Obra social (incluye PAMI)                1
14494   Casado  Obra social (incluye PAMI)                1
14495  Soltero  Obra social (incluye PAMI)                2
14496  Soltero  Obra social (incluye PAMI)  Menor de 2 años
14497    Viudo    No paga ni le descuentan                1

                          ch10     ch11           ch12 ch13 ch14  \
14493  No asiste, pero asistió      0.0     Secundario    1
14494  No asiste, pero asistió      0.0  Universitario    2   02
14495               Sí, asiste  Público       Primario    2   00
14496                      0.0      0.0            0.0  0.0
14497  No asiste, pero asistió      0.0       Primario    2   03

                                  ch15 ch15_cod               ch16 ch16_cod  \
14493                En esta localidad           En esta localidad
14494  En otra provincia (especificar)      006  En esta localidad
14495                En esta localidad           En esta localidad
14496                En esta localidad             No había nacido
14497                En esta localidad           En esta localidad

                                               nivel_ed            estado  \
14493                               Secundaria Completa           Ocupado
14494                 Superior Universitaria Incompleta          Inactivo
14495  Primaria Incompleta (incluye educación especial)  Menor de 10 años
14496                                   Sin instrucción  Menor de 10 años
14497  Primaria Incompleta (incluye educación especial)          Inactivo

                cat_ocup         cat_inac pp02c1 pp02c2 pp02c3 pp02c4 pp02c5  \
14493  Obrero o empleado              0.0    0.0    0.0    0.0    0.0    0.0
14494                0.0      Ama de casa    0.0    0.0    0.0    0.0    0.0
14495                0.0  Menor de 6 años    0.0    0.0    0.0    0.0    0.0
14496                0.0  Menor de 6 años    0.0    0.0    0.0    0.0    0.0
14497                0.0      Ama de casa    0.0    0.0    0.0    0.0    0.0

      pp02c6 pp02c7 pp02c8 pp02e pp02h pp02i pp03c  pp03d  pp3e_tot  pp3f_tot  \
14493    0.0    0.0    0.0   0.0   0.0   0.0   0.0    0.0       0.0       0.0
14494    0.0    0.0    0.0   0.0     2     2   0.0    0.0       0.0       0.0
14495    0.0    0.0    0.0   0.0   0.0   0.0   0.0    0.0       0.0       0.0
14496    0.0    0.0    0.0   0.0   0.0   0.0   0.0    0.0       0.0       0.0
14497    0.0    0.0    0.0   0.0     2     2   0.0    0.0       0.0       0.0

      pp03g pp03h pp03i pp03j                              intensi  \
14493     2   0.0     2     1  Ocupado que no trabajó en la semana
14494   0.0   0.0   0.0   0.0                                  0.0
14495   0.0   0.0   0.0   0.0                                  0.0
14496   0.0   0.0   0.0   0.0                                  0.0
14497   0.0   0.0   0.0   0.0                                  0.0

             pp04a pp04b_cod pp04b1  pp04b2  pp04b3_mes  pp04b3_ano  \
14493  ...privada?      3100    2.0     0.0         0.0         0.0
14494          0.0              0.0     0.0         0.0         0.0
14495          0.0              0.0     0.0         0.0         0.0
14496          0.0              0.0     0.0         0.0         0.0
14497          0.0              0.0     0.0         0.0         0.0

       pp04b3_dia       pp04c pp04c99 pp04d_cod  \
14493         0.0  4 personas     0.0     72313
14494         0.0         0.0     0.0
14495         0.0         0.0     0.0
14496         0.0         0.0     0.0
14497         0.0         0.0     0.0

                                                   pp04g  pp05b2_mes  \
14493  En un local/oficina/establecimiento/negocio/ta...         0.0
14494                                                0.0         0.0
14495                                                0.0         0.0
14496                                                0.0         0.0
14497                                                0.0         0.0

       pp05b2_ano  pp05b2_dia pp05c_1 pp05c_2 pp05c_3 pp05e pp05f pp05h pp06a  \
14493         0.0         0.0     0.0     0.0     0.0   0.0   0.0   0.0   0.0
14494         0.0         0.0     0.0     0.0     0.0   0.0   0.0   0.0   0.0
14495         0.0         0.0     0.0     0.0     0.0   0.0   0.0   0.0   0.0
14496         0.0         0.0     0.0     0.0     0.0   0.0   0.0   0.0   0.0
14497         0.0         0.0     0.0     0.0     0.0   0.0   0.0   0.0   0.0

       pp06c  pp06d pp06e pp06h          pp07a  \
14493    0.0    0.0   0.0   0.0  Más de 5 años
14494    0.0    0.0   0.0   0.0            0.0
14495    0.0    0.0   0.0   0.0            0.0
14496    0.0    0.0   0.0   0.0            0.0
14497    0.0    0.0   0.0   0.0            0.0

                                                   pp07c pp07d pp07e pp07f1  \
14493  No (Incluye permanente, fijo, estable, de planta)   0.0   0.0      2
14494                                                0.0   0.0   0.0    0.0
14495                                                0.0   0.0   0.0    0.0
14496                                                0.0   0.0   0.0    0.0
14497                                                0.0   0.0   0.0    0.0

      pp07f2 pp07f3 pp07f4 pp07f5 pp07g1 pp07g2 pp07g3 pp07g4 pp07g_59 pp07h  \
14493      2      2      2     Si      1      1      1      1      0.0     1
14494    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0      0.0   0.0
14495    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0      0.0   0.0
14496    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0      0.0   0.0
14497    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0      0.0   0.0

      pp07i                      pp07j  \
14493   0.0  ...de día? (mañana/tarde)
14494   0.0                        0.0
14495   0.0                        0.0
14496   0.0                        0.0
14497   0.0                        0.0

                                                   pp07k  pp08d1  pp08d4  \
14493  ...le dan recibo con sello/membrete/firma del ...   500.0     0.0
14494                                                0.0     0.0     0.0
14495                                                0.0     0.0     0.0
14496                                                0.0     0.0     0.0
14497                                                0.0     0.0     0.0

       pp08f1  pp08f2  pp08j1  pp08j2  pp08j3 pp09a  \
14493     0.0     0.0     0.0     0.0     0.0   0.0
14494     0.0     0.0     0.0     0.0     0.0   0.0
14495     0.0     0.0     0.0     0.0     0.0   0.0
14496     0.0     0.0     0.0     0.0     0.0   0.0
14497     0.0     0.0     0.0     0.0     0.0   0.0

                                               pp09a_esp pp09b pp09c  \
14493                                                ...   0.0   0.0
14494                                                ...   0.0   0.0
14495                                                ...   0.0   0.0
14496                                                ...   0.0   0.0
14497                                                ...   0.0   0.0

                                               pp09c_esp pp10a pp10c pp10d  \
14493                                                ...   0.0   0.0   0.0
14494                                                ...   0.0   0.0   0.0
14495                                                ...   0.0   0.0   0.0
14496                                                ...   0.0   0.0   0.0
14497                                                ...   0.0   0.0   0.0

      pp10e pp11a pp11b_cod pp11b1  pp11b2_mes  pp11b2_ano  pp11b2_dia pp11c  \
14493   0.0   0.0              0.0         0.0         0.0         0.0   0.0
14494   0.0   0.0              0.0         0.0         0.0         0.0   0.0
14495   0.0   0.0              0.0         0.0         0.0         0.0   0.0
14496   0.0   0.0              0.0         0.0         0.0         0.0   0.0
14497   0.0   0.0              0.0         0.0         0.0         0.0   0.0

      pp11c99 pp11d_cod  pp11g_ano  pp11g_mes  pp11g_dia pp11l pp11l1 pp11m  \
14493     0.0                  0.0        0.0        0.0   0.0    0.0   0.0
14494     0.0                  0.0        0.0        0.0   0.0    0.0   0.0
14495     0.0                  0.0        0.0        0.0   0.0    0.0   0.0
14496     0.0                  0.0        0.0        0.0   0.0    0.0   0.0
14497     0.0                  0.0        0.0        0.0   0.0    0.0   0.0

      pp11n pp11o pp11p pp11q pp11r pp11s pp11t    p21 decocur idecocur  \
14493   0.0   0.0   0.0   0.0   0.0   0.0   0.0  500.0      06       07
14494   0.0   0.0   0.0   0.0   0.0   0.0   0.0    0.0
14495   0.0   0.0   0.0   0.0   0.0   0.0   0.0    0.0
14496   0.0   0.0   0.0   0.0   0.0   0.0   0.0    0.0
14497   0.0   0.0   0.0   0.0   0.0   0.0   0.0    0.0

      rdecocur gdecocur pdecocur adecocur  tot_p12   p47t decindr idecindr  \
14493       08       05                08      0.0  580.0      07       07
14494                                          0.0    0.0      00       00
14495                                          0.0    0.0      00       00
14496                                          0.0    0.0      00       00
14497                                          0.0    0.0      00       00

      rdecindr gdecindr pdecindr adecindr  v2_m  v3_m  v4_m  v5_m  v8_m  v9_m  \
14493       08       06                08   0.0   0.0   0.0   0.0  80.0   0.0
14494       00       00                00   0.0   0.0   0.0   0.0   0.0   0.0
14495       00       00                00   0.0   0.0   0.0   0.0   0.0   0.0
14496       00       00                00   0.0   0.0   0.0   0.0   0.0   0.0
14497       00       00                00   0.0   0.0   0.0   0.0   0.0   0.0

       v10_m  v11_m  v12_m  v18_m  v19_am  v21_m  t_vi    itf decifr idecifr  \
14493    0.0    0.0    0.0    0.0     0.0    0.0  80.0  580.0     04      04
14494    0.0    0.0    0.0    0.0     0.0    0.0   0.0  580.0     04      04
14495    0.0    0.0    0.0    0.0     0.0    0.0   0.0  580.0     04      04
14496    0.0    0.0    0.0    0.0     0.0    0.0   0.0  580.0     04      04
14497    0.0    0.0    0.0    0.0     0.0    0.0   0.0  580.0     04      04

      rdecifr gdecifr pdecifr adecifr   ipcf deccfr ideccfr rdeccfr gdeccfr  \
14493      05      04              05  116.0     02      03      04      02
14494      05      04              05  116.0     02      03      04      02
14495      05      04              05  116.0     02      03      04      02
14496      05      04              05  116.0     02      03      04      02
14497      05      04              05  116.0     02      03      04      02

      pdeccfr adeccfr pj1_1 pj2_1 pj3_1 idimpp
14493              04   0.0   0.0   0.0  00000
14494              04   0.0   0.0   0.0  00000
14495              04   0.0   0.0   0.0  00000
14496              04   0.0   0.0   0.0  00000
14497              04   0.0   0.0   0.0  00000

C:\Users\jose.lopez\AppData\Local\Temp\ipykernel_13556\926904401.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2004.replace({"Sí": 1, "No": 2}, inplace=True)

In [88]:
# Convirtiendo los nombres de las columnas a mayúsculas
df2004.columns = df2004.columns.str.upper()


df2004.to_excel("C:/Users/jose.lopez/OneDrive - Vicente Trapani Sa/Documents/GitHub/-Big-Data-UNT--Grupo-1-/TP04/usu_Individual_T104.xlsx", index=False)
##C:/Users/jose.lopez/OneDrive - Vicente Trapani Sa/Documents/GitHub/-Big-Data-UNT--Grupo-1-/TP04/usu_Individual_T104.xlsx
##"C:/Users/piliv/OneDrive/Documentos/GitHub/-Big-Data-UNT--Grupo-1-/TP04/

In [46]:
# Concatenando los DataFrames verticalmente
df_concatenado = pd.concat([df24, df2004], axis=0)
df_hogar = df_concatenado
print(df_hogar.head())

                          CODUSU  nro_hogar  realizada  ano4 trimestre  \
0  TQRMNOUSQHMOKPCDEHPJB00806507       2024          1     1         1
1  TQRMNOQQSHJOLRCDEHPJB00795112       2024          1     1         1
2  TQRMNOPRSHLOLSCDEHPJB00854552       2024          1     1         1
3  TQRMNOQWSHMKLQCDEHPJB00801259       2024          1     1         1
4  TQRMNOPUSHKOLRCDEHPJB00856819       2024          1     1         1

   region mas_500  aglomerado  pondera iv1  ... gdeccfr  pdeccfr adeccfr  \
0      40       S          29      397   1  ...       3      NaN       5
1      40       S          29      369   2  ...       1      NaN       1
2      40       S          29      359   1  ...       4      NaN       6
3      40       S          29      573   2  ...       7      NaN       8
4      40       S          29      414   1  ...       2      NaN       3

  vii1_1 vii1_2  vii2_1 vii2_2 vii2_3 vii2_4  idimph
0      1      0       2      3      0      0     439
1      1      0       3      0      0      0     465
2      1      0      98      0      0      0     437
3      2      0       1      0      0      0     637
4      2      0      98      0      0      0     480

[5 rows x 88 columns]

In [52]:
df_individual=pd.read_excel("C:/Users/jose.lopez/OneDrive - Vicente Trapani Sa/Documents/GitHub/-Big-Data-UNT--Grupo-1-/TP04/usu_individual_T104_T124.xlsx")

In [58]:
# Realizando el merge
df_combinado = pd.merge(df_individual, df_hogar, on=['CODUSU', 'nro_hogar'])
print(df_combinado.head())

   CODUSU  ANO4  TRIMESTRE  nro_hogar  COMPONENTE  H15  REGION MAS_500  \
0  125463  2004          1          1           1    1      40       S
1  125463  2004          1          1           2    1      40       S
2  125463  2004          1          1           3    0      40       S
3  125463  2004          1          1           4    0      40       S
4  125463  2004          1          1           5    1      40       S

   AGLOMERADO  PONDERA  ...  gdeccfr pdeccfr  adeccfr  vii1_1  vii1_2  vii2_1  \
0          29      259  ...        2                4       2       0       5
1          29      259  ...        2                4       2       0       5
2          29      259  ...        2                4       2       0       5
3          29      259  ...        2                4       2       0       5
4          29      259  ...        2                4       2       0       5

   vii2_2  vii2_3  vii2_4  idimph
0       0       0       0       0
1       0       0       0       0
2       0       0       0       0
3       0       0       0       0
4       0       0       0       0

[5 rows x 266 columns]

In [60]:
df_combinado.to_excel("C:/Users/jose.lopez/OneDrive - Vicente Trapani Sa/Documents/GitHub/-Big-Data-UNT--Grupo-1-/TP04/usu_ind_hog_T104_T124.xlsx", index=False)

In [62]:
#El Dataframe merge queda
df_merge = pd.read_excel("C:/Users/jose.lopez/OneDrive - Vicente Trapani Sa/Documents/GitHub/-Big-Data-UNT--Grupo-1-/TP04/usu_ind_hog_T104_T124.xlsx")
print(df_merge.head())

   CODUSU  ANO4  TRIMESTRE  nro_hogar  COMPONENTE  H15  REGION MAS_500  \
0  125463  2004          1          1           1    1      40       S
1  125463  2004          1          1           2    1      40       S
2  125463  2004          1          1           3    0      40       S
3  125463  2004          1          1           4    0      40       S
4  125463  2004          1          1           5    1      40       S

   AGLOMERADO  PONDERA  ...  gdeccfr pdeccfr  adeccfr  vii1_1  vii1_2  vii2_1  \
0          29      259  ...        2                4       2       0       5
1          29      259  ...        2                4       2       0       5
2          29      259  ...        2                4       2       0       5
3          29      259  ...        2                4       2       0       5
4          29      259  ...        2                4       2       0       5

   vii2_2  vii2_3  vii2_4  idimph
0       0       0       0       0
1       0       0       0       0
2       0       0       0       0
3       0       0       0       0
4       0       0       0       0

[5 rows x 266 columns]

In [ ]:
##Variables propuestas
II2 N(2) De esos, ¿cuántos usan habitualmente para dormir? con esa pregunta puedo estimar la cantidad de dormitorios, 
la variable sería Cantidad de Personas en el hogar/ cantidad de dormitorios. medimos asi un indicador de hacinamiento.
Podemos usar el indice calmat (calidad de materiales de la vivienda)
1. CALMAT I: la vivienda presenta materiales resistentes y sólidos en todos los componentes 
constitutivos (pisos, paredes y techos) e incorpora todos los elementos de aislación y terminación. 
2. CALMAT II: la vivienda presenta materiales resistentes y sólidos en todos los componentes 
constitutivos, pero le faltan elementos de aislación o terminación al menos en uno de estos. 
3. CALMAT III: la vivienda presenta materiales resistentes y sólidos en todos los componentes 
constitutivos, pero le faltan elementos de aislación o terminación en todos estos, o bien, presenta techos 
de chapa de metal o fibrocemento u otros sin cielorraso, o paredes de chapa de metal o de 
fibrocemento. 
4. CALMAT IV: la vivienda presenta materiales no resistentes al menos en uno de los componentes 
constitutivos, pero no en todos. 
5. CALMAT V: la vivienda presenta materiales no resistentes en todos los componentes constitutivos»