In [1]:
import pandas as pd

In [3]:
df = pd.read_excel("C:/Users/piliv/OneDrive/Documentos/GitHub/-Big-Data-UNT--Grupo-1-/TP04/usu_hogar_T124.xlsx")
print(df.head())

                          CODUSU  ANO4  TRIMESTRE  NRO_HOGAR  REALIZADA  \
0  TQRMNORPSHLOLMCDEFNFF00852337  2024          1          1          1
1  TQRMNOPRYHKOKTCDEFNFF00856789  2024          1          1          1
2  TQTMNORRSHKOKTCDEFNFF00856790  2024          1          1          1
3  TQRMNORRSHKOKTCDEFNFF00856791  2024          1          1          1
4  TQRMNOQTVHKLLLCDEFNFF00856792  2024          1          1          1

   REGION MAS_500  AGLOMERADO  PONDERA  IV1  ... GDECCFR  PDECCFR  ADECCFR  \
0      41       N           7      179    1  ...     NaN      5.0        5
1      41       N           7      313    1  ...     NaN     12.0       12
2      41       N           7      286    1  ...     NaN      8.0        9
3      41       N           7      306    1  ...     NaN      5.0        6
4      41       N           7      361    1  ...     NaN      6.0        7

  PONDIH  VII1_1  VII1_2  VII2_1  VII2_2 VII2_3  VII2_4
0    212       1       2      98       0      0       0
1      0       1       0       2       0      0       0
2    401       2       0       1       0      0       0
3    438       2       0       3       0      0       0
4    831       1       0       2       0      0       0

[5 rows x 88 columns]

In [5]:
df = df[df['AGLOMERADO'] == 29]

In [7]:
df.to_excel("C:/Users/piliv/OneDrive/Documentos/GitHub/-Big-Data-UNT--Grupo-1-/TP04/usu_hogar_T124.xlsx", index=False)

In [9]:
df = pd.read_stata("C:/Users/piliv/OneDrive/Documentos/GitHub/-Big-Data-UNT--Grupo-1-/TP04/Hogar_t104.dta")
print(df.head())

     CODUSU  nro_hogar realizada    ano4       trimestre    region mas_500  \
0  125051          1.0        Sí  2004.0  1er. Trimestre  Pampeana       S
1  125082          1.0        Sí  2004.0  1er. Trimestre  Pampeana       S
2  125181          1.0        Sí  2004.0  1er. Trimestre  Pampeana       S
3  125283          1.0        Sí  2004.0  1er. Trimestre  Pampeana       S
4  126192          1.0        Sí  2004.0  1er. Trimestre  Pampeana       S

      aglomerado  pondera   iv1  ... gdeccfr pdeccfr adeccfr vii1_1 vii1_2  \
0  Gran La Plata    355.0  Casa  ...      01              01    1.0    0.0
1  Gran La Plata    306.0  Casa  ...      03              02    2.0    0.0
2  Gran La Plata    541.0  Casa  ...      09              09    2.0    0.0
3  Gran La Plata    255.0  Casa  ...      07              07    1.0    2.0
4  Gran La Plata    218.0  Casa  ...      08              08    2.0    0.0

                                 vii2_1 vii2_2 vii2_3 vii2_4 idimph
0                                   3.0    0.0    0.0    0.0  00000
1                                  98.0    0.0    0.0    0.0  10000
2                                   1.0    3.0    0.0    0.0  00000
3                                   3.0    4.0    0.0    0.0  10000
4  Otra persona que no vive en el hogar    0.0    0.0    0.0  10000

[5 rows x 88 columns]

In [11]:
frecuencia = df['aglomerado'].value_counts()
print(frecuencia)

aglomerado
Partidos del GBA                   1663
Gran Córdoba                        782
Gran Rosario                        746
Ciudad de Buenos Aires              688
Gran Mendoza                        670
Gran Tucumán - Tafí Viejo           661
Mar del Plata - Batán               576
Gran La Plata                       559
Salta                               456
Gran Santa Fe                       430
Gran Resistencia                    407
Bahía Blanca - Cerri                402
Gran San Juan                       385
Posadas                             372
Santiago del Estero - La Banda      365
Gran Paraná                         350
Corrientes                          342
Jujuy - Palpalá                     334
Concordia                           266
La Rioja                            251
Río Gallegos                        249
San Luis - El Chorrillo             248
Gran Catamarca                      243
Formosa                             243
Comodoro Rivadavia - Rada Tilly     231
Santa Rosa - Toay                   230
Neuquén - Plottier                  226
Río Cuarto                          223
Ushuaia - Río Grande                218
Name: count, dtype: int64

In [13]:
df = df[df['aglomerado'] == 'Gran Tucumán - Tafí Viejo']

In [21]:
df.to_excel("C:/Users/piliv/OneDrive/Documentos/GitHub/-Big-Data-UNT--Grupo-1-/TP04/usu_hogar_T104.xlsx", index=False)

In [23]:
df2004 = pd.read_excel("C:/Users/piliv/OneDrive/Documentos/GitHub/-Big-Data-UNT--Grupo-1-/TP04/usu_hogar_T104.xlsx")
print(df2004.head())

   CODUSU  ANO4  TRIMESTRE  NRO_HOGAR REALIZADA REGION MAS_500  \
0  125463  2004          1          1        Sí    NOA       S
1  125571  2004          1          1        Sí    NOA       S
2  125591  2004          1          1        Sí    NOA       S
3  126052  2004          1          1        Sí    NOA       S
4  126339  2004          1          1        Sí    NOA       S

                  AGLOMERADO  PONDERA   IV1  ... GDECCFR  PDECCFR ADECCFR  \
0  Gran Tucumán - Tafí Viejo      259  Casa  ...       2                4
1  Gran Tucumán - Tafí Viejo      296  Casa  ...       1                1
2  Gran Tucumán - Tafí Viejo      249  Casa  ...       3                5
3  Gran Tucumán - Tafí Viejo      231  Casa  ...       7                9
4  Gran Tucumán - Tafí Viejo      235  Casa  ...       8                9

  VII1_1 VII1_2 VII2_1 VII2_2 VII2_3 VII2_4 idimph
0      2      0      5      0      0      0      0
1      4      0      2      0      0      0      0
2      2      0     98      0      0      0      0
3      2      0     98      0      0      0      0
4      1      0     98      0      0      0      0

[5 rows x 88 columns]

In [27]:
import pandas as pd
pd.set_option('future.no_silent_downcasting', True)

In [29]:
df2004['AGLOMERADO'] = df2004['AGLOMERADO'].replace("Gran Tucumán - Tafí Viejo", 29)
frecuencia_AGLOMERADO = df2004['AGLOMERADO'].value_counts()
print(frecuencia_AGLOMERADO)

AGLOMERADO
29    661
Name: count, dtype: int64

In [31]:
df2004['REGION'] = df2004['REGION'].replace("NOA", 40)
frecuencia_REGION = df2004['REGION'].value_counts()
print(frecuencia_REGION)

df2004.replace({"Sí": 1, "No": 2}, inplace=True)
print(df2004.head())

REGION
40    661
Name: count, dtype: int64
   CODUSU  ANO4  TRIMESTRE  NRO_HOGAR REALIZADA REGION MAS_500  AGLOMERADO  \
0  125463  2004          1          1         1     40       S          29
1  125571  2004          1          1         1     40       S          29
2  125591  2004          1          1         1     40       S          29
3  126052  2004          1          1         1     40       S          29
4  126339  2004          1          1         1     40       S          29

   PONDERA   IV1  ... GDECCFR  PDECCFR ADECCFR VII1_1 VII1_2 VII2_1 VII2_2  \
0      259  Casa  ...       2                4      2      0      5      0
1      296  Casa  ...       1                1      4      0      2      0
2      249  Casa  ...       3                5      2      0     98      0
3      231  Casa  ...       7                9      2      0     98      0
4      235  Casa  ...       8                9      1      0     98      0

  VII2_3 VII2_4 idimph
0      0      0      0
1      0      0      0
2      0      0      0
3      0      0      0
4      0      0      0

[5 rows x 88 columns]

In [35]:
reemplazos1 = {
    "Casa": 1,
    "Departamento": 2,
    "Pieza de inquilinato": 3,
    "Pieza en hotel / pensión": 4,
    "Local no construido para habitación": 5,
    "Otros": 6
}
df2004['IV1'] = df2004['IV1'].replace(reemplazos1)

In [41]:
df2004.to_excel("C:/Users/piliv/OneDrive/Documentos/GitHub/-Big-Data-UNT--Grupo-1-/TP04/usu_hogar_T104.xlsx", index=False)

In [43]:
df2004 = pd.read_excel("C:/Users/piliv/OneDrive/Documentos/GitHub/-Big-Data-UNT--Grupo-1-/TP04/usu_hogar_T104.xlsx")

In [45]:
# Reemplazos para la variable IV3
reemplazos_IV3 = {
    "Mosaico / baldosa / madera / cerámica / alfombra": 1,
    "Cemento / ladrillo fijo": 2,
    "Ladrillo suelto / tierra": 3,
    "Otro": 4
}

# Reemplazos para la variable IV4
reemplazos_IV4 = {
    "Membrana / cubierta asfáltica": 1,
    "Baldosa / losa sin cubierta": 2,
    "Pizarra / teja": 3,
    "Chapa de metal sin cubierta": 4,
    "Chapa de fibrocemento / plástico": 5,
    "Chapa de cartón": 6,
    "Caña / tabla / paja con barro / paja sola": 7,
    "N/S. Depto en propiedad horizontal": 9
}

# Reemplazos para la variable IV6
reemplazos_IV6 = {
    "Por cañería dentro de la vivienda": 1,
    "Fuera de la vivienda pero dentro del terreno": 2,
    "Fuera del terreno": 3
}

# Reemplazos para la variable IV7
reemplazos_IV7 = {
    "Red pública (agua corriente)": 1,
    "Perforación con bomba a motor": 2,
    "Perforación con bomba manual": 3,
    "Otra fuente": 4
}

# Reemplazos para la variable IV9
reemplazos_IV9 = {
    "Dentro de la vivienda": 1,
    "Fuera de la vivienda pero dentro del terreno": 2,
    "Fuera del terreno": 3
}

# Reemplazos para la variable IV10
reemplazos_IV10 = {
    "Inodoro con botón / mochila / cadena y arrastre de agua": 1,
    "Inodoro sin botón / cadena y con arrastre de agua (a balde)": 2,
    "Letrina (sin arrastre de agua)": 3
}

reemplazos_IV11 = {
    "A red pública (cloaca)": 1,
    "A cámara séptica y pozo ciego": 2,
    "Sólo a pozo ciego": 3,
    "A hoyo / excavación en la tierra": 4
}

# Realizando los reemplazos
df2004['IV3'] = df2004['IV3'].replace(reemplazos_IV3)
df2004['IV4'] = df2004['IV4'].replace(reemplazos_IV4)
df2004['IV6'] = df2004['IV6'].replace(reemplazos_IV6)
df2004['IV7'] = df2004['IV7'].replace(reemplazos_IV7)
df2004['IV9'] = df2004['IV9'].replace(reemplazos_IV9)
df2004['IV10'] = df2004['IV10'].replace(reemplazos_IV10)
df2004['IV11'] = df2004['IV11'].replace(reemplazos_IV11)

In [47]:
# Reemplazos para la variable II8
reemplazos_II8 = {
    "Gas de red": 1,
    "Gas de tubo / garrafa": 2,
    "Kerosene / leña/ carbón": 3,
    "Otro": 4
}

# Reemplazos para la variable II9
reemplazos_II9 = {
    "Uso exclusivo del hogar": 1,
    "Compartido con otro/s hogar/es de la misma vivienda": 2,
    "Compartido con otra/s vivienda/s": 3,
    "No tiene baño": 4
}

# Reemplazos para la variable VII1_1
reemplazos_VII1_1 = {
    "Servicio doméstico": 96,
    "Otra persona que no vive en el hogar": 97
}

# Reemplazos para la variable VII2_1
reemplazos_VII2_1 = {
    "Servicio doméstico": 96,
    "Otra persona que no vive en el hogar": 97,
    "Ninguna": 98
}

# Realizando los reemplazos
df2004['II8'] = df2004['II8'].replace(reemplazos_II8)
df2004['II9'] = df2004['II9'].replace(reemplazos_II9)
df2004['VII1_1'] = df2004['VII1_1'].replace(reemplazos_VII1_1)
df2004['VII2_1'] = df2004['VII2_1'].replace(reemplazos_VII2_1)

In [49]:
df2004.to_excel("C:/Users/piliv/OneDrive/Documentos/GitHub/-Big-Data-UNT--Grupo-1-/TP04/usu_hogar_T104.xlsx", index=False)