In [113]:
import pandas as pd

In [115]:
df = pd.read_excel("C:/Users/jose.lopez/OneDrive - Vicente Trapani Sa/Documents/GitHub/-Big-Data-UNT--Grupo-1-/TP04/usu_hogar_T124.xlsx")
#"C:/Users/piliv/OneDrive/Documentos/GitHub/-Big-Data-UNT--Grupo-1-/TP04/usu_hogar_T124.xlsx"
print(df.head())

                          CODUSU  ANO4  TRIMESTRE  NRO_HOGAR  REALIZADA  \
0  TQRMNORPSHLOLMCDEFNFF00852337  2024          1          1          1
1  TQRMNOPRYHKOKTCDEFNFF00856789  2024          1          1          1
2  TQTMNORRSHKOKTCDEFNFF00856790  2024          1          1          1
3  TQRMNORRSHKOKTCDEFNFF00856791  2024          1          1          1
4  TQRMNOQTVHKLLLCDEFNFF00856792  2024          1          1          1

   REGION MAS_500  AGLOMERADO  PONDERA  IV1  ... GDECCFR  PDECCFR  ADECCFR  \
0      41       N           7      179    1  ...     NaN      5.0        5
1      41       N           7      313    1  ...     NaN     12.0       12
2      41       N           7      286    1  ...     NaN      8.0        9
3      41       N           7      306    1  ...     NaN      5.0        6
4      41       N           7      361    1  ...     NaN      6.0        7

  PONDIH  VII1_1  VII1_2  VII2_1  VII2_2 VII2_3  VII2_4
0    212       1       2      98       0      0       0
1      0       1       0       2       0      0       0
2    401       2       0       1       0      0       0
3    438       2       0       3       0      0       0
4    831       1       0       2       0      0       0

[5 rows x 88 columns]

In [117]:
df = df[df['AGLOMERADO'] == 29]

In [119]:
df.to_excel("C:/Users/jose.lopez/OneDrive - Vicente Trapani Sa/Documents/GitHub/-Big-Data-UNT--Grupo-1-/TP04/usu_hogar_T124_TUC.xlsx", index=False)

In [121]:
df = pd.read_stata("C:/Users/jose.lopez/OneDrive - Vicente Trapani Sa/Documents/GitHub/-Big-Data-UNT--Grupo-1-/TP04/Hogar_t104.dta")
print(df.head())

     CODUSU  nro_hogar realizada    ano4       trimestre    region mas_500  \
0  125051          1.0        Sí  2004.0  1er. Trimestre  Pampeana       S
1  125082          1.0        Sí  2004.0  1er. Trimestre  Pampeana       S
2  125181          1.0        Sí  2004.0  1er. Trimestre  Pampeana       S
3  125283          1.0        Sí  2004.0  1er. Trimestre  Pampeana       S
4  126192          1.0        Sí  2004.0  1er. Trimestre  Pampeana       S

      aglomerado  pondera   iv1  ... gdeccfr pdeccfr adeccfr vii1_1 vii1_2  \
0  Gran La Plata    355.0  Casa  ...      01              01    1.0    0.0
1  Gran La Plata    306.0  Casa  ...      03              02    2.0    0.0
2  Gran La Plata    541.0  Casa  ...      09              09    2.0    0.0
3  Gran La Plata    255.0  Casa  ...      07              07    1.0    2.0
4  Gran La Plata    218.0  Casa  ...      08              08    2.0    0.0

                                 vii2_1 vii2_2 vii2_3 vii2_4 idimph
0                                   3.0    0.0    0.0    0.0  00000
1                                  98.0    0.0    0.0    0.0  10000
2                                   1.0    3.0    0.0    0.0  00000
3                                   3.0    4.0    0.0    0.0  10000
4  Otra persona que no vive en el hogar    0.0    0.0    0.0  10000

[5 rows x 88 columns]

In [123]:
frecuencia = df['aglomerado'].value_counts()
print(frecuencia)

aglomerado
Partidos del GBA                   1663
Gran Córdoba                        782
Gran Rosario                        746
Ciudad de Buenos Aires              688
Gran Mendoza                        670
Gran Tucumán - Tafí Viejo           661
Mar del Plata - Batán               576
Gran La Plata                       559
Salta                               456
Gran Santa Fe                       430
Gran Resistencia                    407
Bahía Blanca - Cerri                402
Gran San Juan                       385
Posadas                             372
Santiago del Estero - La Banda      365
Gran Paraná                         350
Corrientes                          342
Jujuy - Palpalá                     334
Concordia                           266
La Rioja                            251
Río Gallegos                        249
San Luis - El Chorrillo             248
Gran Catamarca                      243
Formosa                             243
Comodoro Rivadavia - Rada Tilly     231
Santa Rosa - Toay                   230
Neuquén - Plottier                  226
Río Cuarto                          223
Ushuaia - Río Grande                218
Name: count, dtype: int64

In [125]:
df = df[df['aglomerado'] == 'Gran Tucumán - Tafí Viejo']

In [127]:
df.to_excel("C:/Users/jose.lopez/OneDrive - Vicente Trapani Sa/Documents/GitHub/-Big-Data-UNT--Grupo-1-/TP04/usu_hogar_T104_TUC.xlsx", index=False)

In [129]:
df2004 = pd.read_excel("C:/Users/jose.lopez/OneDrive - Vicente Trapani Sa/Documents/GitHub/-Big-Data-UNT--Grupo-1-/TP04/usu_hogar_T104_TUC.xlsx")
print(df2004.head())

   CODUSU  nro_hogar realizada  ano4       trimestre region mas_500  \
0  125463          1        Sí  2004  1er. Trimestre    NOA       S
1  125571          1        Sí  2004  1er. Trimestre    NOA       S
2  125591          1        Sí  2004  1er. Trimestre    NOA       S
3  126052          1        Sí  2004  1er. Trimestre    NOA       S
4  126339          1        Sí  2004  1er. Trimestre    NOA       S

                  aglomerado  pondera   iv1  ... gdeccfr  pdeccfr adeccfr  \
0  Gran Tucumán - Tafí Viejo      259  Casa  ...       2                4
1  Gran Tucumán - Tafí Viejo      296  Casa  ...       1                1
2  Gran Tucumán - Tafí Viejo      249  Casa  ...       3                5
3  Gran Tucumán - Tafí Viejo      231  Casa  ...       7                9
4  Gran Tucumán - Tafí Viejo      235  Casa  ...       8                9

  vii1_1 vii1_2 vii2_1 vii2_2 vii2_3 vii2_4 idimph
0      2      0      5      0      0      0      0
1      4      0      2      0      0      0      0
2      2      0     98      0      0      0      0
3      2      0     98      0      0      0      0
4      1      0     98      0      0      0      0

[5 rows x 88 columns]

In [130]:
import pandas as pd
pd.set_option('future.no_silent_downcasting', True)

In [131]:
df2004['aglomerado'] = df2004['aglomerado'].replace("Gran Tucumán - Tafí Viejo", 29)
frecuencia_AGLOMERADO = df2004['aglomerado'].value_counts()
print(frecuencia_AGLOMERADO)

aglomerado
29    661
Name: count, dtype: int64

In [132]:
df2004['region'] = df2004['region'].replace("NOA", 40)
frecuencia_REGION = df2004['region'].value_counts()
print(frecuencia_REGION)
# Convirtiendo los nombres de las columnas a mayúsculas
df2004.columns = df2004.columns.str.upper()

df2004.replace({"Sí": 1, "No": 2}, inplace=True)
print(df2004.head())

region
40    661
Name: count, dtype: int64
   CODUSU  NRO_HOGAR REALIZADA  ANO4       TRIMESTRE REGION MAS_500  \
0  125463          1         1  2004  1er. Trimestre     40       S
1  125571          1         1  2004  1er. Trimestre     40       S
2  125591          1         1  2004  1er. Trimestre     40       S
3  126052          1         1  2004  1er. Trimestre     40       S
4  126339          1         1  2004  1er. Trimestre     40       S

  AGLOMERADO  PONDERA   IV1  ... GDECCFR  PDECCFR ADECCFR VII1_1 VII1_2  \
0         29      259  Casa  ...       2                4      2      0
1         29      296  Casa  ...       1                1      4      0
2         29      249  Casa  ...       3                5      2      0
3         29      231  Casa  ...       7                9      2      0
4         29      235  Casa  ...       8                9      1      0

  VII2_1 VII2_2 VII2_3 VII2_4 IDIMPH
0      5      0      0      0      0
1      2      0      0      0      0
2     98      0      0      0      0
3     98      0      0      0      0
4     98      0      0      0      0

[5 rows x 88 columns]

In [137]:
reemplazos1 = {
    "Casa": 1,
    "Departamento": 2,
    "Pieza de inquilinato": 3,
    "Pieza en hotel / pensión": 4,
    "Local no construido para habitación": 5,
    "Otros": 6
}
df2004['IV1'] = df2004['IV1'].replace(reemplazos1)

In [139]:
df2004.to_excel("C:/Users/jose.lopez/OneDrive - Vicente Trapani Sa/Documents/GitHub/-Big-Data-UNT--Grupo-1-/TP04/usu_hogar_T104_TUC2.xlsx", index=False)

In [141]:
df2004 = pd.read_excel("C:/Users/jose.lopez/OneDrive - Vicente Trapani Sa/Documents/GitHub/-Big-Data-UNT--Grupo-1-/TP04/usu_hogar_T104_TUC2.xlsx")

In [142]:
# Reemplazos para la variable IV3
reemplazos_IV3 = {
    "Mosaico / baldosa / madera / cerámica / alfombra": 1,
    "Cemento / ladrillo fijo": 2,
    "Ladrillo suelto / tierra": 3,
    "Otro": 4
}

# Reemplazos para la variable IV4
reemplazos_IV4 = {
    "Membrana / cubierta asfáltica": 1,
    "Baldosa / losa sin cubierta": 2,
    "Pizarra / teja": 3,
    "Chapa de metal sin cubierta": 4,
    "Chapa de fibrocemento / plástico": 5,
    "Chapa de cartón": 6,
    "Caña / tabla / paja con barro / paja sola": 7,
    "N/S. Depto en propiedad horizontal": 9
}

# Reemplazos para la variable IV6
reemplazos_IV6 = {
    "Por cañería dentro de la vivienda": 1,
    "Fuera de la vivienda pero dentro del terreno": 2,
    "Fuera del terreno": 3
}

# Reemplazos para la variable IV7
reemplazos_IV7 = {
    "Red pública (agua corriente)": 1,
    "Perforación con bomba a motor": 2,
    "Perforación con bomba manual": 3,
    "Otra fuente": 4
}

# Reemplazos para la variable IV9
reemplazos_IV9 = {
    "Dentro de la vivienda": 1,
    "Fuera de la vivienda pero dentro del terreno": 2,
    "Fuera del terreno": 3
}

# Reemplazos para la variable IV10
reemplazos_IV10 = {
    "Inodoro con botón / mochila / cadena y arrastre de agua": 1,
    "Inodoro sin botón / cadena y con arrastre de agua (a balde)": 2,
    "Letrina (sin arrastre de agua)": 3
}

reemplazos_IV11 = {
    "A red pública (cloaca)": 1,
    "A cámara séptica y pozo ciego": 2,
    "Sólo a pozo ciego": 3,
    "A hoyo / excavación en la tierra": 4
}

# Realizando los reemplazos
df2004['IV3'] = df2004['IV3'].replace(reemplazos_IV3)
df2004['IV4'] = df2004['IV4'].replace(reemplazos_IV4)
df2004['IV6'] = df2004['IV6'].replace(reemplazos_IV6)
df2004['IV7'] = df2004['IV7'].replace(reemplazos_IV7)
df2004['IV9'] = df2004['IV9'].replace(reemplazos_IV9)
df2004['IV10'] = df2004['IV10'].replace(reemplazos_IV10)
df2004['IV11'] = df2004['IV11'].replace(reemplazos_IV11)

In [145]:
# Reemplazos para la variable II8
reemplazos_II8 = {
    "Gas de red": 1,
    "Gas de tubo / garrafa": 2,
    "Kerosene / leña/ carbón": 3,
    "Otro": 4
}

# Reemplazos para la variable II9
reemplazos_II9 = {
    "Uso exclusivo del hogar": 1,
    "Compartido con otro/s hogar/es de la misma vivienda": 2,
    "Compartido con otra/s vivienda/s": 3,
    "No tiene baño": 4
}

# Reemplazos para la variable VII1_1
reemplazos_VII1_1 = {
    "Servicio doméstico": 96,
    "Otra persona que no vive en el hogar": 97
}

# Reemplazos para la variable VII2_1
reemplazos_VII2_1 = {
    "Servicio doméstico": 96,
    "Otra persona que no vive en el hogar": 97,
    "Ninguna": 98
}

# Realizando los reemplazos
df2004['II8'] = df2004['II8'].replace(reemplazos_II8)
df2004['II9'] = df2004['II9'].replace(reemplazos_II9)
df2004['VII1_1'] = df2004['VII1_1'].replace(reemplazos_VII1_1)
df2004['VII2_1'] = df2004['VII2_1'].replace(reemplazos_VII2_1)

In [147]:
df2004.to_excel("C:/Users/jose.lopez/OneDrive - Vicente Trapani Sa/Documents/GitHub/-Big-Data-UNT--Grupo-1-/TP04/usu_hogar_T104_TUC2.xlsx", index=False)

In [148]:
df2024.to_excel("C:/Users/jose.lopez/OneDrive - Vicente Trapani Sa/Documents/GitHub/-Big-Data-UNT--Grupo-1-/TP04/usu_hogar_T124_TUC.xlsx", index=False)
# Unir los DataFrames verticalmente según las columnas en común
df_Hog = pd.concat([df2004, df2024], axis=0)
print(df_Hog.head())

df_Hog.to_excel("C:/Users/jose.lopez/OneDrive - Vicente Trapani Sa/Documents/GitHub/-Big-Data-UNT--Grupo-1-/TP04/Hogar_Concat.xlsx", index=False)

   CODUSU  NRO_HOGAR  REALIZADA  ANO4       TRIMESTRE  REGION MAS_500  \
0  125463          1        1.0  2004  1er. Trimestre      40       S
1  125571          1        1.0  2004  1er. Trimestre      40       S
2  125591          1        1.0  2004  1er. Trimestre      40       S
3  126052          1        1.0  2004  1er. Trimestre      40       S
4  126339          1        1.0  2004  1er. Trimestre      40       S

   AGLOMERADO  PONDERA IV1  ... V18_M  V19_AM V21_M T_VI PONDIH  PJ1_1 PJ2_1  \
0          29      259   1  ...   NaN     NaN   NaN  NaN    NaN    NaN   NaN
1          29      296   1  ...   NaN     NaN   NaN  NaN    NaN    NaN   NaN
2          29      249   1  ...   NaN     NaN   NaN  NaN    NaN    NaN   NaN
3          29      231   1  ...   NaN     NaN   NaN  NaN    NaN    NaN   NaN
4          29      235   1  ...   NaN     NaN   NaN  NaN    NaN    NaN   NaN

  PJ3_1 IDIMPP  CH05
0   NaN    NaN   NaT
1   NaN    NaN   NaT
2   NaN    NaN   NaT
3   NaN    NaN   NaT
4   NaN    NaN   NaT

[5 rows x 246 columns]

In [151]:
df_IND = pd.read_excel("C:/Users/jose.lopez/OneDrive - Vicente Trapani Sa/Documents/GitHub/-Big-Data-UNT--Grupo-1-/TP04/usu_individual_T104_T124.xlsx")
print(df_IND.head())

   CODUSU  ANO4  TRIMESTRE  NRO_HOGAR  COMPONENTE  H15  REGION MAS_500  \
0  125463  2004          1          1           1    1      40       S
1  125463  2004          1          1           2    1      40       S
2  125463  2004          1          1           3    0      40       S
3  125463  2004          1          1           4    0      40       S
4  125463  2004          1          1           5    1      40       S

   AGLOMERADO  PONDERA  ...  RDECCFR GDECCFR  PDECCFR  ADECCFR  PONDIH  PJ1_1  \
0          29      259  ...        4       2                 4     NaN      0
1          29      259  ...        4       2                 4     NaN      0
2          29      259  ...        4       2                 4     NaN      0
3          29      259  ...        4       2                 4     NaN      0
4          29      259  ...        4       2                 4     NaN      0

   PJ2_1  PJ3_1  IDIMPP  CH05
0      0      0     0.0   NaT
1      0      0     0.0   NaT
2      0      0     0.0   NaT
3      0      0     0.0   NaT
4      0      0     0.0   NaT

[5 rows x 180 columns]

In [160]:
# Hacer un merge utilizando 'CODUSU' y 'NRO_Hogar' como claves
merged_TODO = pd.merge(df_IND, df_Hog, on=['CODUSU'])
#merged_df = pd.merge(df2004, df2024, on=['CODUSU', 'NRO_HOGAR'])
print(merged_TODO)

                              CODUSU  ANO4_x  TRIMESTRE_x  NRO_HOGAR_x  \
0                             125463    2004            1            1
1                             125463    2004            1            1
2                             125463    2004            1            1
3                             125463    2004            1            1
4                             125463    2004            1            1
...                              ...     ...          ...          ...
24974  TQRMNORUYHMOLUCDEHPJB00801354    2024            1            1
24975  TQRMNORUYHMOLUCDEHPJB00801354    2024            1            1
24976  TQRMNORUYHMOLUCDEHPJB00801354    2024            1            1
24977  TQRMNORUYHMOLUCDEHPJB00801354    2024            1            1
24978  TQRMNOPWPHLMLPCDEHPJB00854501    2024            1            1

       COMPONENTE_x  H15_x  REGION_x MAS_500_x  AGLOMERADO_x  PONDERA_x  ...  \
0                 1      1        40         S            29        259  ...
1                 1      1        40         S            29        259  ...
2                 1      1        40         S            29        259  ...
3                 1      1        40         S            29        259  ...
4                 1      1        40         S            29        259  ...
...             ...    ...       ...       ...           ...        ...  ...
24974             5      0        40         S            29        488  ...
24975             5      0        40         S            29        488  ...
24976             5      0        40         S            29        488  ...
24977             5      0        40         S            29        488  ...
24978             1      1        40         S            29        438  ...

       V18_M_y V19_AM_y  V21_M_y    T_VI_y  PONDIH_y  PJ1_1_y  PJ2_1_y  \
0          NaN      NaN      NaN       NaN       NaN      NaN      NaN
1          0.0      0.0      0.0      80.0       NaN        0        0
2          0.0      0.0      0.0       0.0       NaN        0        0
3          0.0      0.0      0.0       0.0       NaN        0        0
4          0.0      0.0      0.0       0.0       NaN        0        0
...        ...      ...      ...       ...       ...      ...      ...
24974      0.0      0.0      0.0  130000.0     572.0      NaN      NaN
24975      0.0      0.0      0.0   16000.0     572.0      NaN      NaN
24976      0.0      0.0      0.0       0.0     572.0      NaN      NaN
24977      0.0      0.0      0.0       0.0     572.0      NaN      NaN
24978      0.0      0.0      0.0       0.0     498.0      NaN      NaN

       PJ3_1_y  IDIMPP_y     CH05_y
0          NaN       NaN        NaT
1            0       0.0        NaT
2            0       0.0        NaT
3            0       0.0        NaT
4            0       0.0        NaT
...        ...       ...        ...
24974      NaN       NaN 1989-01-31
24975      NaN       NaN 2005-09-08
24976      NaN       NaN 2009-04-04
24977      NaN       NaN 2016-09-20
24978      NaN       NaN 1973-07-31

[24979 rows x 425 columns]

In [161]:
merged_TODO.to_excel("C:/Users/jose.lopez/OneDrive - Vicente Trapani Sa/Documents/GitHub/-Big-Data-UNT--Grupo-1-/TP04/merged.xlsx", index=False)

In [ ]:
##Variables propuestas
II2 N(2) De esos, ¿cuántos usan habitualmente para dormir? con esa pregunta puedo estimar la cantidad de dormitorios, 
la variable sería Cantidad de Personas en el hogar/ cantidad de dormitorios. medimos asi un indicador de hacinamiento.
Podemos usar el indice calmat (calidad de materiales de la vivienda)
1. CALMAT I: la vivienda presenta materiales resistentes y sólidos en todos los componentes 
constitutivos (pisos, paredes y techos) e incorpora todos los elementos de aislación y terminación. 
2. CALMAT II: la vivienda presenta materiales resistentes y sólidos en todos los componentes 
constitutivos, pero le faltan elementos de aislación o terminación al menos en uno de estos. 
3. CALMAT III: la vivienda presenta materiales resistentes y sólidos en todos los componentes 
constitutivos, pero le faltan elementos de aislación o terminación en todos estos, o bien, presenta techos 
de chapa de metal o fibrocemento u otros sin cielorraso, o paredes de chapa de metal o de 
fibrocemento. 
4. CALMAT IV: la vivienda presenta materiales no resistentes al menos en uno de los componentes 
constitutivos, pero no en todos. 
5. CALMAT V: la vivienda presenta materiales no resistentes en todos los componentes constitutivos»