In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("C:/Users/jose.lopez/OneDrive - Vicente Trapani Sa/Documents/GitHub/-Big-Data-UNT--Grupo-1-/TP04/usu_hogar_T124.xlsx")
##C:\Users\jose.lopez\OneDrive - Vicente Trapani Sa\Documents\GitHub\-Big-Data-UNT--Grupo-1-\TP04
##C:/Users/piliv/OneDrive/Documentos/GitHub/-Big-Data-UNT--Grupo-1-/TP04/usu_hogar_T124.xlsx
print(df.head())

                          CODUSU  nro_hogar  realizada  ano4  trimestre  \
0  TQRMNOUSQHMOKPCDEHPJB00806507       2024          1     1          1
1  TQRMNOQQSHJOLRCDEHPJB00795112       2024          1     1          1
2  TQRMNOPRSHLOLSCDEHPJB00854552       2024          1     1          1
3  TQRMNOQWSHMKLQCDEHPJB00801259       2024          1     1          1
4  TQRMNOPUSHKOLRCDEHPJB00856819       2024          1     1          1

   region mas_500  aglomerado  pondera  iv1  ...  gdeccfr  pdeccfr  adeccfr  \
0      40       S          29      397    1  ...        3      NaN        5
1      40       S          29      369    2  ...        1      NaN        1
2      40       S          29      359    1  ...        4      NaN        6
3      40       S          29      573    2  ...        7      NaN        8
4      40       S          29      414    1  ...        2      NaN        3

   vii1_1  vii1_2  vii2_1  vii2_2  vii2_3  vii2_4  idimph
0       1       0       2       3       0       0     439
1       1       0       3       0       0       0     465
2       1       0      98       0       0       0     437
3       2       0       1       0       0       0     637
4       2       0      98       0       0       0     480

[5 rows x 88 columns]

In [8]:
df24 = df[df['aglomerado'] == 29]
print(df24.head())

                          CODUSU  nro_hogar  realizada  ano4  trimestre  \
0  TQRMNOUSQHMOKPCDEHPJB00806507       2024          1     1          1
1  TQRMNOQQSHJOLRCDEHPJB00795112       2024          1     1          1
2  TQRMNOPRSHLOLSCDEHPJB00854552       2024          1     1          1
3  TQRMNOQWSHMKLQCDEHPJB00801259       2024          1     1          1
4  TQRMNOPUSHKOLRCDEHPJB00856819       2024          1     1          1

   region mas_500  aglomerado  pondera  iv1  ...  gdeccfr  pdeccfr  adeccfr  \
0      40       S          29      397    1  ...        3      NaN        5
1      40       S          29      369    2  ...        1      NaN        1
2      40       S          29      359    1  ...        4      NaN        6
3      40       S          29      573    2  ...        7      NaN        8
4      40       S          29      414    1  ...        2      NaN        3

   vii1_1  vii1_2  vii2_1  vii2_2  vii2_3  vii2_4  idimph
0       1       0       2       3       0       0     439
1       1       0       3       0       0       0     465
2       1       0      98       0       0       0     437
3       2       0       1       0       0       0     637
4       2       0      98       0       0       0     480

[5 rows x 88 columns]

In [10]:
df1 = pd.read_stata("C:/Users/jose.lopez/OneDrive - Vicente Trapani Sa/Documents/GitHub/-Big-Data-UNT--Grupo-1-/TP04/Hogar_t104.dta")
##C:\Users\jose.lopez\OneDrive - Vicente Trapani Sa\Documents\GitHub\-Big-Data-UNT--Grupo-1-\TP04
##C:/Users/piliv/OneDrive/Documentos/GitHub/-Big-Data-UNT--Grupo-1-/TP04/Hogar_t104.dta
print(df1.head())

     CODUSU  nro_hogar realizada    ano4       trimestre    region mas_500  \
0  125051          1.0        Sí  2004.0  1er. Trimestre  Pampeana       S
1  125082          1.0        Sí  2004.0  1er. Trimestre  Pampeana       S
2  125181          1.0        Sí  2004.0  1er. Trimestre  Pampeana       S
3  125283          1.0        Sí  2004.0  1er. Trimestre  Pampeana       S
4  126192          1.0        Sí  2004.0  1er. Trimestre  Pampeana       S

      aglomerado  pondera   iv1  ... gdeccfr pdeccfr adeccfr vii1_1 vii1_2  \
0  Gran La Plata    355.0  Casa  ...      01              01    1.0    0.0
1  Gran La Plata    306.0  Casa  ...      03              02    2.0    0.0
2  Gran La Plata    541.0  Casa  ...      09              09    2.0    0.0
3  Gran La Plata    255.0  Casa  ...      07              07    1.0    2.0
4  Gran La Plata    218.0  Casa  ...      08              08    2.0    0.0

                                 vii2_1 vii2_2 vii2_3 vii2_4 idimph
0                                   3.0    0.0    0.0    0.0  00000
1                                  98.0    0.0    0.0    0.0  10000
2                                   1.0    3.0    0.0    0.0  00000
3                                   3.0    4.0    0.0    0.0  10000
4  Otra persona que no vive en el hogar    0.0    0.0    0.0  10000

[5 rows x 88 columns]

In [12]:
frecuencia = df1['aglomerado'].value_counts()
print(frecuencia)

aglomerado
Partidos del GBA                   1663
Gran Córdoba                        782
Gran Rosario                        746
Ciudad de Buenos Aires              688
Gran Mendoza                        670
Gran Tucumán - Tafí Viejo           661
Mar del Plata - Batán               576
Gran La Plata                       559
Salta                               456
Gran Santa Fe                       430
Gran Resistencia                    407
Bahía Blanca - Cerri                402
Gran San Juan                       385
Posadas                             372
Santiago del Estero - La Banda      365
Gran Paraná                         350
Corrientes                          342
Jujuy - Palpalá                     334
Concordia                           266
La Rioja                            251
Río Gallegos                        249
San Luis - El Chorrillo             248
Gran Catamarca                      243
Formosa                             243
Comodoro Rivadavia - Rada Tilly     231
Santa Rosa - Toay                   230
Neuquén - Plottier                  226
Río Cuarto                          223
Ushuaia - Río Grande                218
Name: count, dtype: int64

In [14]:
df04 = df1[df1['aglomerado'] == 'Gran Tucumán - Tafí Viejo']

In [16]:
import pandas as pd
pd.set_option('future.no_silent_downcasting', True)

In [18]:
df04.loc[:, 'aglomerado'] = df04['aglomerado'].cat.rename_categories({    "Gran Tucumán - Tafí Viejo": 29})
##df04['aglomerado'] = df04['aglomerado'].replace("Gran Tucumán - Tafí Viejo", 29)
print(df04.head())

        CODUSU  nro_hogar realizada    ano4       trimestre region mas_500  \
8557  125463          1.0        Sí  2004.0  1er. Trimestre    NOA       S
8558  125571          1.0        Sí  2004.0  1er. Trimestre    NOA       S
8559  125591          1.0        Sí  2004.0  1er. Trimestre    NOA       S
8560  126052          1.0        Sí  2004.0  1er. Trimestre    NOA       S
8561  126339          1.0        Sí  2004.0  1er. Trimestre    NOA       S

     aglomerado  pondera   iv1  ... gdeccfr pdeccfr adeccfr vii1_1 vii1_2  \
8557         29    259.0  Casa  ...      02              04    2.0    0.0
8558         29    296.0  Casa  ...      01              01    4.0    0.0
8559         29    249.0  Casa  ...      03              05    2.0    0.0
8560         29    231.0  Casa  ...      07              09    2.0    0.0
8561         29    235.0  Casa  ...      08              09    1.0    0.0

     vii2_1 vii2_2 vii2_3 vii2_4 idimph
8557    5.0    0.0    0.0    0.0  00000
8558    2.0    0.0    0.0    0.0  00000
8559   98.0    0.0    0.0    0.0  00000
8560   98.0    0.0    0.0    0.0  00000
8561   98.0    0.0    0.0    0.0  00000

[5 rows x 88 columns]

C:\Users\jose.lopez\AppData\Local\Temp\ipykernel_22252\3943278331.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[29, 29, 29, 29, 29, ..., 29, 29, 29, 29, 29]
Length: 661
Categories (29, object): ['Gran La Plata' < 'Bahía Blanca - Cerri' < 'Gran Rosario' < 'Gran Santa Fe' ... 'Ciudad de Buenos Aires' < 'Partidos del GBA' < 'Mar del Plata - Batán' < 'Río Cuarto']' has dtype incompatible with category, please explicitly cast to a compatible dtype first.
  df04.loc[:, 'aglomerado'] = df04['aglomerado'].cat.rename_categories({    "Gran Tucumán - Tafí Viejo": 29})

In [20]:
df04.loc[:, 'region'] = df04['region'].replace("NOA", 40)

#df04['region'] = df04['region'].replace("NOA", 40)
df04.replace({"Sí": 1, "No": 2}, inplace=True)
#df04.replace({"Sí": 1, "No": 2}, inplace=True)
print(df04.head())

        CODUSU  nro_hogar realizada    ano4       trimestre region mas_500  \
8557  125463          1.0         1  2004.0  1er. Trimestre     40       S
8558  125571          1.0         1  2004.0  1er. Trimestre     40       S
8559  125591          1.0         1  2004.0  1er. Trimestre     40       S
8560  126052          1.0         1  2004.0  1er. Trimestre     40       S
8561  126339          1.0         1  2004.0  1er. Trimestre     40       S

     aglomerado  pondera   iv1  ... gdeccfr pdeccfr adeccfr vii1_1 vii1_2  \
8557         29    259.0  Casa  ...      02              04    2.0    0.0
8558         29    296.0  Casa  ...      01              01    4.0    0.0
8559         29    249.0  Casa  ...      03              05    2.0    0.0
8560         29    231.0  Casa  ...      07              09    2.0    0.0
8561         29    235.0  Casa  ...      08              09    1.0    0.0

     vii2_1 vii2_2 vii2_3 vii2_4 idimph
8557    5.0    0.0    0.0    0.0  00000
8558    2.0    0.0    0.0    0.0  00000
8559   98.0    0.0    0.0    0.0  00000
8560   98.0    0.0    0.0    0.0  00000
8561   98.0    0.0    0.0    0.0  00000

[5 rows x 88 columns]

C:\Users\jose.lopez\AppData\Local\Temp\ipykernel_22252\316884247.py:1: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df04.loc[:, 'region'] = df04['region'].replace("NOA", 40)
C:\Users\jose.lopez\AppData\Local\Temp\ipykernel_22252\316884247.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[40, 40, 40, 40, 40, ..., 40, 40, 40, 40, 40]
Length: 661
Categories (6, object): ['Gran Buenos Aires' < 40 < 'NEA' < 'Cuyo' < 'Pampeana' < 'Patagónica']' has dtype incompatible with category, please explicitly cast to a compatible dtype first.
  df04.loc[:, 'region'] = df04['region'].replace("NOA", 40)
C:\Users\jose.lopez\AppData\Local\Temp\ipykernel_22252\316884247.py:4: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df04.replace({"Sí": 1, "No": 2}, inplace=True)
C:\Users\jose.lopez\AppData\Local\Temp\ipykernel_22252\316884247.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df04.replace({"Sí": 1, "No": 2}, inplace=True)

In [22]:
reemplazos1 = {
    "Casa": 1,
    "Departamento": 2,
    "Pieza de inquilinato": 3,
    "Pieza en hotel / pensión": 4,
    "Local no construido para habitación": 5,
    "Otros": 6
}

df04['iv1'] = df04['iv1'].cat.rename_categories(reemplazos1)
print(df04.head())

        CODUSU  nro_hogar realizada    ano4       trimestre region mas_500  \
8557  125463          1.0         1  2004.0  1er. Trimestre     40       S
8558  125571          1.0         1  2004.0  1er. Trimestre     40       S
8559  125591          1.0         1  2004.0  1er. Trimestre     40       S
8560  126052          1.0         1  2004.0  1er. Trimestre     40       S
8561  126339          1.0         1  2004.0  1er. Trimestre     40       S

     aglomerado  pondera iv1  ... gdeccfr pdeccfr adeccfr vii1_1 vii1_2  \
8557         29    259.0   1  ...      02              04    2.0    0.0
8558         29    296.0   1  ...      01              01    4.0    0.0
8559         29    249.0   1  ...      03              05    2.0    0.0
8560         29    231.0   1  ...      07              09    2.0    0.0
8561         29    235.0   1  ...      08              09    1.0    0.0

     vii2_1 vii2_2 vii2_3 vii2_4 idimph
8557    5.0    0.0    0.0    0.0  00000
8558    2.0    0.0    0.0    0.0  00000
8559   98.0    0.0    0.0    0.0  00000
8560   98.0    0.0    0.0    0.0  00000
8561   98.0    0.0    0.0    0.0  00000

[5 rows x 88 columns]

C:\Users\jose.lopez\AppData\Local\Temp\ipykernel_22252\3455325661.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df04['iv1'] = df04['iv1'].cat.rename_categories(reemplazos1)

In [24]:
df04.to_excel("C:/Users/jose.lopez/OneDrive - Vicente Trapani Sa/Documents/GitHub/-Big-Data-UNT--Grupo-1-/TP04/usu_hogar_T104.xlsx", index=False)
##C:/Users/jose.lopez/OneDrive - Vicente Trapani Sa/Documents/GitHub/-Big-Data-UNT--Grupo-1-/TP04/usu_hogar_T104.xlsx
##"C:/Users/piliv/OneDrive/Documentos/GitHub/-Big-Data-UNT--Grupo-1-/TP04/usu_hogar_T104.xlsx

In [28]:
df2004 = pd.read_excel("C:/Users/jose.lopez/OneDrive - Vicente Trapani Sa/Documents/GitHub/-Big-Data-UNT--Grupo-1-/TP04/usu_hogar_T104.xlsx")
#("C:/Users/piliv/OneDrive/Documentos/GitHub/-Big-Data-UNT--Grupo-1-/TP04/usu_hogar_T104.xlsx")

In [32]:
# Reemplazos para la variable IV3
reemplazos_IV3 = {
    "Mosaico / baldosa / madera / cerámica / alfombra": 1,
    "Cemento / ladrillo fijo": 2,
    "Ladrillo suelto / tierra": 3,
    "Otro": 4
}

# Reemplazos para la variable IV4
reemplazos_IV4 = {
    "Membrana / cubierta asfáltica": 1,
    "Baldosa / losa sin cubierta": 2,
    "Pizarra / teja": 3,
    "Chapa de metal sin cubierta": 4,
    "Chapa de fibrocemento / plástico": 5,
    "Chapa de cartón": 6,
    "Caña / tabla / paja con barro / paja sola": 7,
    "N/S. Depto en propiedad horizontal": 9
}

# Reemplazos para la variable IV6
reemplazos_IV6 = {
    "Por cañería dentro de la vivienda": 1,
    "Fuera de la vivienda pero dentro del terreno": 2,
    "Fuera del terreno": 3
}

# Reemplazos para la variable IV7
reemplazos_IV7 = {
    "Red pública (agua corriente)": 1,
    "Perforación con bomba a motor": 2,
    "Perforación con bomba manual": 3,
    "Otra fuente": 4
}

# Reemplazos para la variable IV9
reemplazos_IV9 = {
    "Dentro de la vivienda": 1,
    "Fuera de la vivienda pero dentro del terreno": 2,
    "Fuera del terreno": 3
}

# Reemplazos para la variable IV10
reemplazos_IV10 = {
    "Inodoro con botón / mochila / cadena y arrastre de agua": 1,
    "Inodoro sin botón / cadena y con arrastre de agua (a balde)": 2,
    "Letrina (sin arrastre de agua)": 3
}

reemplazos_IV11 = {
    "A red pública (cloaca)": 1,
    "A cámara séptica y pozo ciego": 2,
    "Sólo a pozo ciego": 3,
    "A hoyo / excavación en la tierra": 4
}

# Realizando los reemplazos
df2004['iv3'] = df2004['iv3'].replace(reemplazos_IV3)
df2004['iv4'] = df2004['iv4'].replace(reemplazos_IV4)
df2004['iv6'] = df2004['iv6'].replace(reemplazos_IV6)
df2004['iv7'] = df2004['iv7'].replace(reemplazos_IV7)
df2004['iv9'] = df2004['iv9'].replace(reemplazos_IV9)
df2004['iv10'] = df2004['iv10'].replace(reemplazos_IV10)
df2004['iv11'] = df2004['iv11'].replace(reemplazos_IV11)

In [36]:
# Reemplazos para la variable II8
reemplazos_II8 = {
    "Gas de red": 1,
    "Gas de tubo / garrafa": 2,
    "Kerosene / leña/ carbón": 3,
    "Otro": 4
}

# Reemplazos para la variable II9
reemplazos_II9 = {
    "Uso exclusivo del hogar": 1,
    "Compartido con otro/s hogar/es de la misma vivienda": 2,
    "Compartido con otra/s vivienda/s": 3,
    "No tiene baño": 4
}

# Reemplazos para la variable VII1_1
reemplazos_VII1_1 = {
    "Servicio doméstico": 96,
    "Otra persona que no vive en el hogar": 97
}

# Reemplazos para la variable VII2_1
reemplazos_VII2_1 = {
    "Servicio doméstico": 96,
    "Otra persona que no vive en el hogar": 97,
    "Ninguna": 98
}

# Realizando los reemplazos
df2004['ii8'] = df2004['ii8'].replace(reemplazos_II8)
df2004['ii9'] = df2004['ii9'].replace(reemplazos_II9)
df2004['vii1_1'] = df2004['vii1_1'].replace(reemplazos_VII1_1)
df2004['vii2_1'] = df2004['vii2_1'].replace(reemplazos_VII2_1)

In [38]:
df2004.to_excel("C:/Users/jose.lopez/OneDrive - Vicente Trapani Sa/Documents/GitHub/-Big-Data-UNT--Grupo-1-/TP04/usu_hogar_T104.xlsx", index=False)
#"C:/Users/piliv/OneDrive/Documentos/GitHub/-Big-Data-UNT--Grupo-1-/TP04/usu_hogar_T104.xlsx"

In [46]:
# Concatenando los DataFrames verticalmente
df_concatenado = pd.concat([df24, df2004], axis=0)
df_hogar = df_concatenado
print(df_hogar.head())

                          CODUSU  nro_hogar  realizada  ano4 trimestre  \
0  TQRMNOUSQHMOKPCDEHPJB00806507       2024          1     1         1
1  TQRMNOQQSHJOLRCDEHPJB00795112       2024          1     1         1
2  TQRMNOPRSHLOLSCDEHPJB00854552       2024          1     1         1
3  TQRMNOQWSHMKLQCDEHPJB00801259       2024          1     1         1
4  TQRMNOPUSHKOLRCDEHPJB00856819       2024          1     1         1

   region mas_500  aglomerado  pondera iv1  ... gdeccfr  pdeccfr adeccfr  \
0      40       S          29      397   1  ...       3      NaN       5
1      40       S          29      369   2  ...       1      NaN       1
2      40       S          29      359   1  ...       4      NaN       6
3      40       S          29      573   2  ...       7      NaN       8
4      40       S          29      414   1  ...       2      NaN       3

  vii1_1 vii1_2  vii2_1 vii2_2 vii2_3 vii2_4  idimph
0      1      0       2      3      0      0     439
1      1      0       3      0      0      0     465
2      1      0      98      0      0      0     437
3      2      0       1      0      0      0     637
4      2      0      98      0      0      0     480

[5 rows x 88 columns]

In [52]:
df_individual=pd.read_excel("C:/Users/jose.lopez/OneDrive - Vicente Trapani Sa/Documents/GitHub/-Big-Data-UNT--Grupo-1-/TP04/usu_individual_T104_T124.xlsx")

In [58]:
# Realizando el merge
df_combinado = pd.merge(df_individual, df_hogar, on=['CODUSU', 'nro_hogar'])
print(df_combinado.head())

   CODUSU  ANO4  TRIMESTRE  nro_hogar  COMPONENTE  H15  REGION MAS_500  \
0  125463  2004          1          1           1    1      40       S
1  125463  2004          1          1           2    1      40       S
2  125463  2004          1          1           3    0      40       S
3  125463  2004          1          1           4    0      40       S
4  125463  2004          1          1           5    1      40       S

   AGLOMERADO  PONDERA  ...  gdeccfr pdeccfr  adeccfr  vii1_1  vii1_2  vii2_1  \
0          29      259  ...        2                4       2       0       5
1          29      259  ...        2                4       2       0       5
2          29      259  ...        2                4       2       0       5
3          29      259  ...        2                4       2       0       5
4          29      259  ...        2                4       2       0       5

   vii2_2  vii2_3  vii2_4  idimph
0       0       0       0       0
1       0       0       0       0
2       0       0       0       0
3       0       0       0       0
4       0       0       0       0

[5 rows x 266 columns]

In [60]:
df_combinado.to_excel("C:/Users/jose.lopez/OneDrive - Vicente Trapani Sa/Documents/GitHub/-Big-Data-UNT--Grupo-1-/TP04/usu_ind_hog_T104_T124.xlsx", index=False)

In [62]:
#El Dataframe merge queda
df_merge = pd.read_excel("C:/Users/jose.lopez/OneDrive - Vicente Trapani Sa/Documents/GitHub/-Big-Data-UNT--Grupo-1-/TP04/usu_ind_hog_T104_T124.xlsx")
print(df_merge.head())

   CODUSU  ANO4  TRIMESTRE  nro_hogar  COMPONENTE  H15  REGION MAS_500  \
0  125463  2004          1          1           1    1      40       S
1  125463  2004          1          1           2    1      40       S
2  125463  2004          1          1           3    0      40       S
3  125463  2004          1          1           4    0      40       S
4  125463  2004          1          1           5    1      40       S

   AGLOMERADO  PONDERA  ...  gdeccfr pdeccfr  adeccfr  vii1_1  vii1_2  vii2_1  \
0          29      259  ...        2                4       2       0       5
1          29      259  ...        2                4       2       0       5
2          29      259  ...        2                4       2       0       5
3          29      259  ...        2                4       2       0       5
4          29      259  ...        2                4       2       0       5

   vii2_2  vii2_3  vii2_4  idimph
0       0       0       0       0
1       0       0       0       0
2       0       0       0       0
3       0       0       0       0
4       0       0       0       0

[5 rows x 266 columns]

In [ ]:
##Variables propuestas
II2 N(2) De esos, ¿cuántos usan habitualmente para dormir? con esa pregunta puedo estimar la cantidad de dormitorios, 
la variable sería Cantidad de Personas en el hogar/ cantidad de dormitorios. medimos asi un indicador de hacinamiento.
Podemos usar el indice calmat (calidad de materiales de la vivienda)
1. CALMAT I: la vivienda presenta materiales resistentes y sólidos en todos los componentes 
constitutivos (pisos, paredes y techos) e incorpora todos los elementos de aislación y terminación. 
2. CALMAT II: la vivienda presenta materiales resistentes y sólidos en todos los componentes 
constitutivos, pero le faltan elementos de aislación o terminación al menos en uno de estos. 
3. CALMAT III: la vivienda presenta materiales resistentes y sólidos en todos los componentes 
constitutivos, pero le faltan elementos de aislación o terminación en todos estos, o bien, presenta techos 
de chapa de metal o fibrocemento u otros sin cielorraso, o paredes de chapa de metal o de 
fibrocemento. 
4. CALMAT IV: la vivienda presenta materiales no resistentes al menos en uno de los componentes 
constitutivos, pero no en todos. 
5. CALMAT V: la vivienda presenta materiales no resistentes en todos los componentes constitutivos»